Repository payloadcms/payload, changes with the owners that .github/CODEOWNERS names for each.
All owners: @denolfe, @DanRibbens, @AlessioGr, @JarrodMFlesch, @jacobsfletch

revert eslint-plugin-react-hooks
  packages/eslint-config/package.json
  packages/eslint-plugin/package.json
  pnpm-lock.yaml
Owners: @denolfe, @AlessioGr

ci: execute lexical__collections___LexicalFullyFeatured suite in ci
  .github/workflows/main.yml
Owners: @denolfe

run new test suite in CI
  .github/workflows/main.yml
Owners: @denolfe

fix(plugin-multi-tenant): hide watchTenant column field (#13740)
  packages/plugin-multi-tenant/src/index.ts
Owners: @JarrodMFlesch

add new test suite
  test/lexical/collections/OnDemandForm/e2e.spec.ts
  test/lexical/collections/OnDemandOutsideForm/Component.tsx
  test/lexical/collections/utils.ts
Owners: none

perf(ui): opt-in to the select api in the list view (#13697)
  docs/configuration/collections.mdx
  docs/configuration/globals.mdx
  packages/db-postgres/src/types.ts
  packages/db-vercel-postgres/src/types.ts
  packages/next/src/views/List/handleGroupBy.ts
  packages/next/src/views/List/index.tsx
  packages/next/src/views/List/transformColumnsToSelect.ts
  packages/payload/src/admin/forms/Form.ts
  packages/payload/src/admin/functions/index.ts
  packages/payload/src/collections/config/types.ts
  packages/payload/src/config/types.ts
  packages/payload/src/utilities/flattenTopLevelFields.ts
  packages/ui/src/elements/DocumentDrawer/Provider.tsx
  packages/ui/src/exports/rsc/index.ts
  packages/ui/src/forms/Form/types.ts
  packages/ui/src/utilities/buildTableState.ts
  packages/ui/src/utilities/getColumns.ts
  packages/ui/src/utilities/renderTable.tsx
  test/_community/collections/Posts/index.ts
  test/_community/payload-types.ts
  test/admin/collections/ListViewSelectAPI/BeforeListTable/index.tsx
  test/admin/collections/ListViewSelectAPI/index.ts
  test/admin/config.ts
  test/admin/e2e/list-view/e2e.spec.ts
  test/admin/payload-types.ts
  test/helpers/e2e/assertRequestBody.ts
  test/uploads/config.ts
Owners: @jacobsfletch, @AlessioGr, @JarrodMFlesch

revert changes
  packages/plugin-nested-docs/src/hooks/resaveSelfAfterCreate.ts
  packages/plugin-nested-docs/src/index.ts
Owners: none

fix(plugin-search): prevent duplicate entries on same request
  packages/plugin-search/src/utilities/syncDocAsSearchIndex.ts
Owners: none

weaken lexical types to maintain compatibility with DefaultTypedEditorState
  packages/richtext-lexical/src/index.ts
  test/lexical/payload-types.ts
Owners: @AlessioGr

bump types
  templates/website/src/payload-types.ts
Owners: none

sanitize config when syncing from client
  packages/ui/src/fields/Blocks/index.tsx
  packages/ui/src/providers/Config/index.tsx
Owners: @jacobsfletch, @AlessioGr, @JarrodMFlesch

fix
  templates/website/src/blocks/Form/Component.tsx
  templates/with-vercel-website/src/blocks/Form/Component.tsx
Owners: none

fix remaining template types
  templates/website/src/blocks/Form/Message/index.tsx
  templates/website/src/blocks/RelatedPosts/Component.tsx
  templates/with-vercel-website/src/blocks/Form/Message/index.tsx
  templates/with-vercel-website/src/blocks/RelatedPosts/Component.tsx
Owners: none

add type checks
  package.json
  pnpm-lock.yaml
  test/types/config.ts
  test/types/payload-types.ts
  test/types/types.spec.ts
Owners: @denolfe

add docs
  docs/rich-text/rendering-on-demand.mdx
  packages/ui/src/forms/fieldSchemasToFormState/serverFunctions/renderFieldServerFn.ts
Owners: @jacobsfletch, @AlessioGr, @JarrodMFlesch

add jsdoc to SyncClientConfig describing why its necessary
  packages/next/src/views/Root/SyncClientConfig.tsx
  packages/ui/src/fields/Blocks/index.tsx
Owners: @jacobsfletch, @AlessioGr, @JarrodMFlesch

typo
  packages/payload/src/config/client.ts
Owners: none

fix
  packages/storage-vercel-blob/src/handleUpload.ts
Owners: @denolfe

fix(storage-vercel-blob): filename is incorrectly stored encoded when addRandomSuffix is true (#13746)
  packages/storage-vercel-blob/src/handleUpload.ts
Owners: @denolfe

do not sync on first render
  packages/next/src/views/Root/SyncClientConfig.tsx
Owners: none

mark duplicated export as deprecated instead of removing it
  packages/richtext-lexical/src/index.ts
Owners: @AlessioGr

fix: better dutch words
  packages/translations/src/languages/nl.ts
Owners: none

test: allows running Jest tests through Test Explorer in VSCode and other improvements
  .vscode/extensions.json
  .vscode/settings.json
Owners: @denolfe, @AlessioGr

run only on-demand
  .vscode/settings.json
Owners: @denolfe, @AlessioGr

feat: unauthenticated client config (#13714)
  packages/next/src/layouts/Root/index.tsx
  packages/next/src/views/Document/handleServerFunction.tsx
  packages/next/src/views/List/handleServerFunction.tsx
  packages/next/src/views/Root/SyncClientConfig.tsx
  packages/next/src/views/Root/getRouteData.ts
  packages/next/src/views/Root/index.tsx
  packages/next/src/views/Version/index.tsx
  packages/payload/src/admin/views/index.ts
  packages/payload/src/config/client.ts
  packages/payload/src/index.ts
  packages/ui/src/fields/Blocks/index.tsx
  packages/ui/src/fields/Join/index.tsx
  packages/ui/src/providers/Config/index.tsx
  packages/ui/src/utilities/buildFormState.ts
  packages/ui/src/utilities/buildTableState.ts
  packages/ui/src/utilities/getClientConfig.ts
Owners: @jacobsfletch, @AlessioGr, @JarrodMFlesch

spelling
  packages/next/src/utilities/getVisibleEntities.ts
  packages/next/src/views/NotFound/index.tsx
  packages/next/src/views/Root/index.tsx
Owners: none

update Root view
  packages/next/src/views/Root/index.tsx
Owners: none

feat: pass collectionSlug to nested tab fields in GraphQL schema generation
  packages/graphql/src/schema/fieldToSchemaMap.ts
Owners: none

adjust args for getRouteData
  packages/next/src/views/Root/getRouteData.ts
  packages/next/src/views/Root/index.tsx
Owners: none

chore: updates docs & adds v4 notes
  docs/upload/overview.mdx
  packages/payload/src/uploads/getBaseFields.ts
  packages/payload/src/uploads/types.ts
Owners: none

fix(next): version diff view not handling all field permissions correctly (#13721)
  packages/next/src/views/Version/RenderFieldsToDiff/buildVersionFields.tsx
  packages/next/src/views/Version/index.tsx
  packages/payload/src/admin/forms/Diff.ts
  packages/payload/src/auth/types.ts
  packages/payload/src/utilities/getFieldPermissions.ts
  packages/ui/src/elements/FieldSelect/reduceFieldOptions.ts
  packages/ui/src/forms/RenderFields/index.tsx
  packages/ui/src/views/Edit/Auth/index.tsx
  test/versions/collections/Diff/index.ts
  test/versions/e2e.spec.ts
  test/versions/payload-types.ts
  test/versions/seed.ts
Owners: @jacobsfletch, @AlessioGr, @JarrodMFlesch

fix(plugin-search): update with db adapter on create (#13670)
  .vscode/launch.json
  packages/plugin-search/src/utilities/syncDocAsSearchIndex.ts
Owners: @denolfe, @AlessioGr

feat(ui): save collection folder tab preferences (#13702)
  packages/next/src/utilities/getRouteWithoutAdmin.ts
  packages/next/src/utilities/getVisibleEntities.ts
  packages/next/src/utilities/handleAuthRedirect.ts
  packages/next/src/utilities/initPage/handleAdminPage.ts
  packages/next/src/utilities/initPage/index.ts
  packages/next/src/utilities/initPage/types.ts
  packages/next/src/utilities/isCustomAdminView.ts
  packages/next/src/utilities/isPublicAdminRoute.ts
  packages/next/src/views/NotFound/index.tsx
  packages/next/src/views/Root/attachViewActions.ts
  packages/next/src/views/Root/getRouteData.ts
  packages/next/src/views/Root/index.tsx
  packages/payload/src/admin/views/index.ts
  packages/payload/src/preferences/types.ts
  packages/ui/src/elements/AppHeader/index.scss
  packages/ui/src/elements/DefaultListViewTabs/index.scss
  packages/ui/src/elements/DefaultListViewTabs/index.tsx
  packages/ui/src/elements/ListHeaderTabs/ByFolderPill.tsx
  packages/ui/src/elements/ListHeaderTabs/DefaultListPill.tsx
  packages/ui/src/elements/ListHeaderTabs/TrashPill.tsx
  packages/ui/src/views/CollectionFolder/index.tsx
  packages/ui/src/views/List/ListHeader/index.tsx
  test/folders/e2e.spec.ts
Owners: @jacobsfletch, @AlessioGr, @JarrodMFlesch

feat: adds disableListColumn and disableListFilter to imageSize admin props (#13699)
  docs/upload/overview.mdx
  packages/payload/src/uploads/getBaseFields.ts
  packages/payload/src/uploads/types.ts
  test/uploads/config.ts
  test/uploads/e2e.spec.ts
  test/uploads/payload-types.ts
  test/uploads/shared.ts
Owners: none

chore(release): v3.55.0 [skip ci]
  package.json
  packages/admin-bar/package.json
  packages/create-payload-app/package.json
  packages/db-mongodb/package.json
  packages/db-postgres/package.json
  packages/db-sqlite/package.json
  packages/db-vercel-postgres/package.json
  packages/drizzle/package.json
  packages/email-nodemailer/package.json
  packages/email-resend/package.json
  packages/graphql/package.json
  packages/live-preview-react/package.json
  packages/live-preview-vue/package.json
  packages/live-preview/package.json
  packages/next/package.json
  packages/payload-cloud/package.json
  packages/payload/package.json
  packages/plugin-cloud-storage/package.json
  packages/plugin-form-builder/package.json
  packages/plugin-import-export/package.json
  packages/plugin-multi-tenant/package.json
  packages/plugin-nested-docs/package.json
  packages/plugin-redirects/package.json
  packages/plugin-search/package.json
  packages/plugin-sentry/package.json
  packages/plugin-seo/package.json
  packages/plugin-stripe/package.json
  packages/richtext-lexical/package.json
  packages/richtext-slate/package.json
  packages/storage-azure/package.json
  packages/storage-gcs/package.json
  packages/storage-s3/package.json
  packages/storage-uploadthing/package.json
  packages/storage-vercel-blob/package.json
  packages/translations/package.json
  packages/ui/package.json
Owners: @denolfe

templates: bump for v3.55.0 (#13754)
  templates/with-postgres/package.json
  templates/with-postgres/src/migrations/20250909_161027_initial.json
  templates/with-postgres/src/migrations/20250909_161027_initial.ts
  templates/with-postgres/src/migrations/index.ts
  templates/with-vercel-mongodb/package.json
  templates/with-vercel-postgres/package.json
  templates/with-vercel-postgres/src/migrations/20250909_160945_initial.json
  templates/with-vercel-postgres/src/migrations/20250909_160945_initial.ts
  templates/with-vercel-postgres/src/migrations/index.ts
  templates/with-vercel-website/package.json
  templates/with-vercel-website/src/migrations/20250909_161006_initial.json
  templates/with-vercel-website/src/migrations/20250909_161006_initial.ts
  templates/with-vercel-website/src/migrations/index.ts
Owners: none

fix for collapsibles and groups
  packages/graphql/src/schema/fieldToSchemaMap.ts
Owners: none

chore: adds user collection
  test/plugin-mcp/collections/Users.ts
Owners: none

fix(graphql): pass collectionSlug to nested join fields in tabs, collapsible and group resolvers (#13752)
  packages/graphql/src/schema/fieldToSchemaMap.ts
Owners: none

poc recursive hook detection
  docs/hooks/context.mdx
  docs/troubleshooting/troubleshooting.mdx
  packages/payload/src/collections/config/sanitize.ts
  packages/payload/src/config/types.ts
  packages/payload/src/utilities/detectRecursiveHooks.ts
  test/hooks/collections/RecursiveHooks/index.ts
  test/hooks/config.ts
  test/hooks/payload-types.ts
Owners: none

.github/CODEOWNERS:

# Order matters. The last matching pattern takes precedence

## Package Exports

**/exports/ @denolfe @DanRibbens

## Packages

/packages/create-payload-app/src/ @denolfe
/packages/email-*/src/ @denolfe
/packages/eslint-*/ @denolfe @AlessioGr
/packages/plugin-cloud-storage/src/ @denolfe
/packages/plugin-multi-tenant/src/ @JarrodMFlesch
/packages/richtext-*/src/ @AlessioGr
/packages/storage-*/src/ @denolfe
/packages/ui/src/  @jacobsfletch @AlessioGr @JarrodMFlesch

## Templates

/templates/_data/ @denolfe
/templates/_template/ @denolfe

## Build Files

**/jest.config.js @denolfe @AlessioGr
**/tsconfig*.json @denolfe @AlessioGr

## Root

/.github/ @denolfe
/.husky/ @denolfe
/.vscode/ @denolfe @AlessioGr
/package.json @denolfe
/tools/ @denolfe
