Repository payloadcms/payload, changes with the owners that .github/CODEOWNERS names for each.
All owners: @AlessioGr, @denolfe, @jacobsfletch

.github/CODEOWNERS:

# Order matters. The last matching pattern takes precedence.

### Core ###

### Adapters ###
/packages/richtext-*/ @AlessioGr

### Plugins ###
/packages/plugin-cloud*/ @denolfe

### Templates ###
/templates/ @jacobsfletch @denolfe

### Misc ###
/packages/create-payload-app/ @denolfe
/packages/eslint-*/ @denolfe

### Build Files ###
/**/package.json @denolfe

/tsconfig.json @denolfe
/**/tsconfig*.json @denolfe

/jest.config.js @denolfe
/**/jest.config.js @denolfe

### Root ###
/package.json @denolfe
/scripts/ @denolfe
/.husky/ @denolfe
/.vscode/ @denolfe
/.github/ @denolfe

chore(deps): upgrades react-diff-viewer-continued to v4.0.4 to suppress react 19 warnings and use ESM imports (#10834)
  packages/next/package.json
  packages/next/src/views/Version/RenderFieldsToDiff/fields/Relationship/index.tsx
  packages/next/src/views/Version/RenderFieldsToDiff/fields/Select/DiffViewer/index.tsx
  packages/next/src/views/Version/RenderFieldsToDiff/fields/Text/DiffViewer/index.tsx
  packages/next/src/views/Version/RenderFieldsToDiff/fields/styles.ts
  packages/next/src/views/Version/RenderFieldsToDiff/index.scss
  packages/next/src/views/Version/RenderFieldsToDiff/index.tsx
  pnpm-lock.yaml
  tsconfig.base.json
Owners: @denolfe

templates: adds landing page to blank template (#10769)
  templates/blank/src/app/(frontend)/layout.tsx
  templates/blank/src/app/(frontend)/page.tsx
  templates/blank/src/app/(frontend)/styles.css
  templates/blank/src/payload-types.ts
  templates/with-payload-cloud/src/app/(frontend)/layout.tsx
  templates/with-payload-cloud/src/app/(frontend)/page.tsx
  templates/with-payload-cloud/src/app/(frontend)/styles.css
  templates/with-payload-cloud/src/payload-types.ts
  templates/with-postgres/src/app/(frontend)/layout.tsx
  templates/with-postgres/src/app/(frontend)/page.tsx
  templates/with-postgres/src/app/(frontend)/styles.css
  templates/with-vercel-mongodb/src/app/(frontend)/layout.tsx
  templates/with-vercel-mongodb/src/app/(frontend)/page.tsx
  templates/with-vercel-mongodb/src/app/(frontend)/styles.css
  templates/with-vercel-mongodb/src/payload-types.ts
  templates/with-vercel-postgres/src/app/(frontend)/layout.tsx
  templates/with-vercel-postgres/src/app/(frontend)/page.tsx
  templates/with-vercel-postgres/src/app/(frontend)/styles.css
Owners: @jacobsfletch, @denolfe

chore: adds e2e test
  test/fields/collections/Blocks/e2e.spec.ts
Owners: none

fix(ui): correctly reset blocksDrawer search state after close (#10847)
  packages/ui/src/fields/Blocks/BlocksDrawer/index.tsx
  test/fields/collections/Blocks/e2e.spec.ts
Owners: none

adds standalone test suite for field paths and adds failing test for field schema map
  packages/ui/src/utilities/buildFormState.ts
  test/field-paths/collections/FieldPaths/index.ts
  test/field-paths/config.ts
  test/field-paths/e2e.spec.ts
  test/field-paths/eslint.config.js
  test/field-paths/int.spec.ts
  test/field-paths/payload-types.ts
  test/field-paths/shared.ts
  test/field-paths/tsconfig.eslint.json
  test/field-paths/tsconfig.json
  test/hooks/config.ts
  test/hooks/int.spec.ts
  test/hooks/payload-types.ts
  tsconfig.base.json
Owners: @denolfe

fix: adds title to Logout button for tooltip
  packages/ui/src/elements/Logout/index.tsx
Owners: none

update test data
  test/versions/collections/Diff.ts
  test/versions/collections/Media.ts
  test/versions/collections/RichText.ts
  test/versions/config.ts
  test/versions/image.jpg
  test/versions/image.png
  test/versions/payload-types.ts
  test/versions/seed.ts
  test/versions/slugs.ts
  test/versions/textToLexicalJSON.ts
Owners: none

Rolback the fix to show the admin.hidden
  packages/next/src/views/Version/RenderFieldsToDiff/index.tsx
Owners: none

fix versions test suite
  test/versions/clearAndSeedEverything.ts
  test/versions/collections/Media.ts
  test/versions/collections/uploads/image.jpg
  test/versions/collections/uploads/image.png
  test/versions/seed.ts
Owners: none

fix(ui): adds title attribute to Logout button for tooltip (#10851)
  packages/ui/src/elements/Logout/index.tsx
Owners: none

add data-field-path attribute
  packages/next/src/views/Version/RenderFieldsToDiff/RenderVersionFieldsToDiff.tsx
  packages/next/src/views/Version/RenderFieldsToDiff/buildVersionFields.tsx
  packages/payload/src/admin/forms/Diff.ts
Owners: none

feat: adds auto resize feature to textarea
  packages/ui/src/fields/Textarea/index.scss
Owners: none

chore: add tons of e2e tests
  test/versions/collections/uploads/image-1.jpg
  test/versions/collections/uploads/image-1.png
  test/versions/e2e.spec.ts
Owners: none

fix path
  test/versions/e2e.spec.ts
Owners: none

undo EditConfigWithoutRoot change
  packages/payload/src/config/types.ts
Owners: none

fix build
  packages/next/src/views/Version/RenderFieldsToDiff/utilities/countChangedFields.ts
Owners: none

chore: translations for versions.modifiedOnly
  packages/translations/src/languages/ar.ts
  packages/translations/src/languages/az.ts
  packages/translations/src/languages/bg.ts
  packages/translations/src/languages/ca.ts
  packages/translations/src/languages/cs.ts
  packages/translations/src/languages/da.ts
  packages/translations/src/languages/de.ts
  packages/translations/src/languages/es.ts
  packages/translations/src/languages/et.ts
  packages/translations/src/languages/fa.ts
  packages/translations/src/languages/fr.ts
  packages/translations/src/languages/he.ts
  packages/translations/src/languages/hr.ts
  packages/translations/src/languages/hu.ts
  packages/translations/src/languages/it.ts
  packages/translations/src/languages/ja.ts
  packages/translations/src/languages/ko.ts
  packages/translations/src/languages/my.ts
  packages/translations/src/languages/nb.ts
  packages/translations/src/languages/nl.ts
  packages/translations/src/languages/pl.ts
  packages/translations/src/languages/pt.ts
  packages/translations/src/languages/ro.ts
  packages/translations/src/languages/rs.ts
  packages/translations/src/languages/rsLatin.ts
  packages/translations/src/languages/ru.ts
  packages/translations/src/languages/sk.ts
  packages/translations/src/languages/sl.ts
  packages/translations/src/languages/sv.ts
  packages/translations/src/languages/th.ts
  packages/translations/src/languages/tr.ts
  packages/translations/src/languages/uk.ts
  packages/translations/src/languages/vi.ts
  packages/translations/src/languages/zh.ts
  packages/translations/src/languages/zhTw.ts
Owners: none

chore: type error in next versions tabs field modifiedOnly
  packages/next/src/views/Version/RenderFieldsToDiff/fields/Tabs/index.tsx
Owners: none

chore: show admin hidden when displaying modifiedOnly versions
  packages/next/src/views/Version/RenderFieldsToDiff/index.tsx
Owners: none

fix e2e test
  test/versions/e2e.spec.ts
Owners: none

fixes field schema map, deprecates modified getFieldPaths fn
  packages/payload/src/fields/getFieldPaths.ts
  packages/payload/src/fields/hooks/afterChange/promise.ts
  packages/payload/src/fields/hooks/afterRead/promise.ts
  packages/payload/src/fields/hooks/beforeChange/promise.ts
  packages/payload/src/fields/hooks/beforeDuplicate/promise.ts
  packages/payload/src/fields/hooks/beforeValidate/promise.ts
  packages/ui/src/utilities/buildClientFieldSchemaMap/index.ts
  packages/ui/src/utilities/buildClientFieldSchemaMap/traverseFields.ts
  packages/ui/src/utilities/buildFieldSchemaMap/index.ts
  packages/ui/src/utilities/buildFieldSchemaMap/traverseFields.ts
  test/field-paths/int.spec.ts
Owners: none

fix build errors
  packages/richtext-lexical/src/utilities/generateSchemaMap.ts
  packages/richtext-slate/src/generateSchemaMap.ts
Owners: @AlessioGr

feat: flatten csv array data
  packages/plugin-import-export/src/export/createExport.ts
  test/plugin-import-export/collections/Pages.ts
  test/plugin-import-export/int.spec.ts
Owners: none

improvements
  packages/next/src/views/Version/Default/index.tsx
  packages/next/src/views/Version/Default/types.ts
  packages/next/src/views/Version/RenderFieldsToDiff/buildVersionFields.tsx
  packages/next/src/views/Version/RenderFieldsToDiff/fields/Collapsible/index.tsx
  packages/next/src/views/Version/RenderFieldsToDiff/fields/Tabs/index.tsx
  packages/next/src/views/Version/SelectComparison/types.ts
  packages/next/src/views/Version/index.tsx
Owners: none

feat: flattened array subfield data
  packages/plugin-import-export/src/export/createExport.ts
  test/plugin-import-export/int.spec.ts
Owners: none

fix(db-postgres): write operations on polymorphic joined collections throw error
  packages/drizzle/src/upsertRow/index.ts
  test/relationships/config.ts
  test/relationships/int.spec.ts
  test/relationships/payload-types.ts
Owners: none

a little bit differently
  packages/drizzle/src/upsertRow/index.ts
Owners: none

migrates fieldSchemasToFormState
  packages/payload/src/admin/forms/Form.ts
  packages/payload/src/fields/config/types.ts
  packages/ui/src/forms/fieldSchemasToFormState/addFieldStatePromise.ts
  packages/ui/src/forms/fieldSchemasToFormState/iterateFields.ts
  packages/ui/src/utilities/buildClientFieldSchemaMap/traverseFields.ts
  packages/ui/src/utilities/buildFieldSchemaMap/traverseFields.ts
Owners: none

chore(richtext-lexical): add debugJsxConverterFeature
  packages/richtext-lexical/src/exports/client/index.ts
  packages/richtext-lexical/src/features/debug/jsxConverter/client/index.tsx
  packages/richtext-lexical/src/features/debug/jsxConverter/client/plugin/index.scss
  packages/richtext-lexical/src/features/debug/jsxConverter/client/plugin/index.tsx
  packages/richtext-lexical/src/features/debug/jsxConverter/server/index.ts
  packages/richtext-lexical/src/index.ts
Owners: @AlessioGr

remove unused css
  packages/richtext-lexical/src/features/debug/jsxConverter/client/plugin/index.scss
Owners: @AlessioGr

remove comment
  packages/richtext-lexical/src/features/debug/jsxConverter/client/plugin/index.tsx
Owners: @AlessioGr

fix build
  templates/with-vercel-website/src/components/RichText/nodeFormat.tsx
Owners: @jacobsfletch, @denolfe
