Repository payloadcms/payload, changes with the owners that .github/CODEOWNERS names for each.
All owners: @denolfe, @DanRibbens, @AlessioGr, @JarrodMFlesch, @jacobsfletch

add test
  test/hooks/int.spec.ts
Owners: none

chore: updates types
  test/plugin-mcp/payload-types.ts
Owners: none

chore: adds user collection
  test/plugin-mcp/config.ts
Owners: none

chore: handles undefined descriptions
  packages/plugin-mcp/src/mcp/tools/resource/create.ts
  packages/plugin-mcp/src/mcp/tools/resource/delete.ts
  packages/plugin-mcp/src/mcp/tools/resource/find.ts
  packages/plugin-mcp/src/mcp/tools/resource/update.ts
Owners: none

feat: adds api keys collection
  packages/plugin-mcp/src/collections/createApiKeysCollection.ts
Owners: none

feat: implements api keys collection, removes global
  packages/plugin-mcp/src/globals/createMcpToolsGlobal.ts
  packages/plugin-mcp/src/index.ts
Owners: none

chore: updates types
  packages/plugin-mcp/src/types.ts
Owners: none

feat: adds API key auth to requests
  packages/plugin-mcp/src/endpoints/mcp.ts
  packages/plugin-mcp/src/mcp/getMcpHandler.ts
Owners: none

chore: updates types
  test/plugin-mcp/payload-types.ts
Owners: none

track by operation
  packages/payload/src/utilities/detectRecursiveHooks.ts
  test/hooks/int.spec.ts
Owners: none

fix
  templates/blank/package.json
Owners: none

lockfile
  pnpm-lock.yaml
Owners: none

fix
  packages/next/src/views/Root/SyncClientConfig.tsx
Owners: none

fix: update zh-TW translations
  packages/translations/src/languages/zhTw.ts
Owners: none

fix(db-postgres): localized relationships inside blocks
  packages/drizzle/src/transform/read/traverseFields.ts
  test/uploads/config.ts
  test/uploads/int.spec.ts
  test/uploads/payload-types.ts
Owners: none

some changes to the API
  packages/plugin-ecommerce/src/addresses/createAddressesCollection.ts
  packages/plugin-ecommerce/src/addresses/hooks/beforeChange.ts
  packages/plugin-ecommerce/src/carts/createCartsCollection.ts
  packages/plugin-ecommerce/src/exports/addresses.ts
  packages/plugin-ecommerce/src/exports/orders.ts
  packages/plugin-ecommerce/src/exports/products.ts
  packages/plugin-ecommerce/src/exports/transactions.ts
  packages/plugin-ecommerce/src/exports/variants.ts
  packages/plugin-ecommerce/src/index.ts
  packages/plugin-ecommerce/src/orders/createOrdersCollection.ts
  packages/plugin-ecommerce/src/products/createProductsCollection.ts
  packages/plugin-ecommerce/src/transactions/createTransactionsCollection.ts
  packages/plugin-ecommerce/src/types.ts
  packages/plugin-ecommerce/src/variants/createVariantOptionsCollection.ts
  packages/plugin-ecommerce/src/variants/createVariantTypesCollection.ts
  packages/plugin-ecommerce/src/variants/createVariantsCollection/hooks/beforeChange.ts
  packages/plugin-ecommerce/src/variants/createVariantsCollection/hooks/validateOptions.ts
  packages/plugin-ecommerce/src/variants/createVariantsCollection/index.ts
  templates/ecommerce/src/access/adminOnly.ts
  templates/ecommerce/src/access/adminOnlyFieldAccess.ts
  templates/ecommerce/src/access/adminOrCustomerOwner.ts
  templates/ecommerce/src/access/adminOrPublishedStatus.ts
  templates/ecommerce/src/access/adminOrSelf.ts
  templates/ecommerce/src/access/customerOnlyFieldAccess.ts
  templates/ecommerce/src/access/isPublic.ts
  templates/ecommerce/src/access/publicAccess.ts
  templates/ecommerce/src/collections/Pages/index.ts
  templates/ecommerce/src/collections/Users/index.ts
  templates/ecommerce/src/plugins/index.ts
Owners: @denolfe, @DanRibbens

fix: add missed `pagination` property to `findVersions` and handle it properly
  packages/payload/src/collections/operations/findVersions.ts
  packages/payload/src/collections/operations/local/findVersions.ts
  packages/payload/src/globals/operations/findVersions.ts
  packages/payload/src/globals/operations/local/findVersions.ts
  test/versions/config.ts
  test/versions/globals/DraftUnlimited.ts
  test/versions/int.spec.ts
  test/versions/payload-types.ts
  test/versions/slugs.ts
Owners: none

templates: ensure blank template installs matching react-dom version (#13757)
  pnpm-lock.yaml
  templates/blank/package.json
Owners: none

import fix
  templates/ecommerce/src/collections/Pages/index.ts
Owners: none

fix(richtext-lexical): prevent unallowed headings to be pasted
  packages/richtext-lexical/src/features/heading/client/index.tsx
  test/_community/collections/Posts/index.ts
  test/lexical/baseConfig.ts
  test/lexical/collections/LexicalHeadingFeature/e2e.spec.ts
  test/lexical/collections/LexicalHeadingFeature/index.ts
  test/lexical/collections/LexicalLinkFeature/utils.ts
  test/lexical/collections/_LexicalFullyFeatured/e2e.spec.ts
  test/lexical/collections/utils.ts
  test/lexical/config.ts
  test/lexical/payload-types.ts
  test/lexical/slugs.ts
Owners: @AlessioGr

add reproduction test
  packages/next/src/routes/rest/index.ts
  pnpm-lock.yaml
  test/collections-rest/collections/LargeDocuments.ts
  test/collections-rest/config.ts
  test/collections-rest/int.spec.ts
  test/collections-rest/payload-types.ts
  test/helpers/NextRESTClient.ts
  test/helpers/getFormDataSize.ts
  test/package.json
Owners: none

remove div
  packages/richtext-lexical/src/features/heading/client/index.tsx
Owners: @AlessioGr

revert community suite to it's original status
  test/_community/collections/Posts/index.ts
Owners: none

fix(ui): listSearchableFields can resolve to multiple fields with the same name when using tabs (#13668)
  packages/ui/src/elements/ListControls/getTextFieldsToBeSearched.ts
Owners: @jacobsfletch, @AlessioGr, @JarrodMFlesch

.github/CODEOWNERS:

# Order matters. The last matching pattern takes precedence

## Package Exports

**/exports/ @denolfe @DanRibbens

## Packages

/packages/create-payload-app/src/ @denolfe
/packages/email-*/src/ @denolfe
/packages/eslint-*/ @denolfe @AlessioGr
/packages/plugin-cloud-storage/src/ @denolfe
/packages/plugin-multi-tenant/src/ @JarrodMFlesch
/packages/richtext-*/src/ @AlessioGr
/packages/storage-*/src/ @denolfe
/packages/ui/src/  @jacobsfletch @AlessioGr @JarrodMFlesch

## Templates

/templates/_data/ @denolfe
/templates/_template/ @denolfe

## Build Files

**/jest.config.js @denolfe @AlessioGr
**/tsconfig*.json @denolfe @AlessioGr

## Root

/.github/ @denolfe
/.husky/ @denolfe
/.vscode/ @denolfe @AlessioGr
/package.json @denolfe
/tools/ @denolfe
