Repository payloadcms/payload, changes with the owners that .github/CODEOWNERS names for each.
All owners: @denolfe, @DanRibbens, @AlessioGr, @JarrodMFlesch, @jacobsfletch

fix: build failing due to relationship type mismatch
  packages/next/src/views/Version/RenderFieldsToDiff/fields/Relationship/generateLabelFromValue.ts
Owners: none

fix(next): display deleted relations and uploads in version diff views (#12955)
  packages/next/src/views/Version/RenderFieldsToDiff/fields/Relationship/generateLabelFromValue.ts
  packages/next/src/views/Version/RenderFieldsToDiff/fields/Relationship/index.tsx
  packages/next/src/views/Version/RenderFieldsToDiff/fields/Upload/index.tsx
  test/versions/e2e.spec.ts
Owners: none

fix(richtext-lexical): fix picture closing tag in html converter (#13100)
  packages/richtext-lexical/src/features/converters/lexicalToHtml/async/converters/upload.ts
  packages/richtext-lexical/src/features/converters/lexicalToHtml/sync/converters/upload.ts
Owners: @AlessioGr

docs: missing comma in custom-strategies example (#13701)
  docs/authentication/custom-strategies.mdx
Owners: none

fixes the error for max file size exceeded
  packages/translations/src/clientKeys.ts
  packages/translations/src/languages/en.ts
  packages/ui/src/elements/BulkUpload/FormsManager/index.tsx
Owners: @jacobsfletch, @AlessioGr, @JarrodMFlesch

improved error message
  packages/translations/src/languages/en.ts
Owners: none

feat: Add Finnish translations
  packages/payload/src/exports/i18n/fi.ts
  packages/plugin-import-export/src/translations/index.ts
  packages/plugin-import-export/src/translations/languages/fi.ts
  packages/plugin-multi-tenant/src/translations/index.ts
  packages/plugin-multi-tenant/src/translations/languages/fi.ts
  packages/plugin-seo/src/translations/fi.ts
  packages/plugin-seo/src/translations/index.ts
  packages/richtext-lexical/src/features/align/server/i18n.ts
  packages/richtext-lexical/src/features/blockquote/server/i18n.ts
  packages/richtext-lexical/src/features/blocks/server/i18n.ts
  packages/richtext-lexical/src/features/heading/server/i18n.ts
  packages/richtext-lexical/src/features/horizontalRule/server/i18n.ts
  packages/richtext-lexical/src/features/indent/server/i18n.ts
  packages/richtext-lexical/src/features/link/server/i18n.ts
  packages/richtext-lexical/src/features/lists/checklist/server/i18n.ts
  packages/richtext-lexical/src/features/lists/orderedList/server/i18n.ts
  packages/richtext-lexical/src/features/lists/unorderedList/server/i18n.ts
  packages/richtext-lexical/src/features/paragraph/server/i18n.ts
  packages/richtext-lexical/src/features/relationship/server/i18n.ts
  packages/richtext-lexical/src/features/textState/i18n.ts
  packages/richtext-lexical/src/features/upload/server/i18n.ts
  packages/richtext-lexical/src/i18n.ts
  packages/translations/src/exports/all.ts
  packages/translations/src/importDateFNSLocale.ts
  packages/translations/src/languages/en.ts
  packages/translations/src/languages/fi.ts
  packages/translations/src/types.ts
  packages/translations/src/utilities/languages.ts
Owners: @denolfe, @DanRibbens, @JarrodMFlesch, @AlessioGr

Update package.json name
  examples/astro/package.json
Owners: none

chore: modifes collection config for field prop testing
  test/plugin-mcp/collections/Posts.ts
  test/plugin-mcp/config.ts
  test/plugin-mcp/payload-types.ts
Owners: none

feat: generates zod schemas for create and update tools (init)
  packages/plugin-mcp/src/endpoints/mcp.ts
  packages/plugin-mcp/src/index.ts
  packages/plugin-mcp/src/mcp/getMcpHandler.ts
  packages/plugin-mcp/src/mcp/tools/resource/create.ts
  packages/plugin-mcp/src/mcp/tools/resource/update.ts
  packages/plugin-mcp/src/utils/convertFieldsToZod.ts
Owners: none

changed toaster error message
  packages/translations/src/languages/en.ts
Owners: none

fix: a typo in the description of the isTemp field
  packages/payload/src/query-presets/config.ts
Owners: none

*: fail migrations immediately when dev push encountered in prod
  packages/db-mongodb/src/connect.ts
  packages/db-postgres/src/connect.ts
  packages/db-sqlite/src/connect.ts
  packages/db-vercel-postgres/src/connect.ts
  packages/drizzle/src/migrate.ts
  packages/payload/src/bin/migrate.ts
  packages/payload/src/database/types.ts
Owners: none

remove duplicated exports
  packages/richtext-lexical/src/features/blockquote/client/index.tsx
  packages/richtext-lexical/src/features/blockquote/markdownTransformer.ts
  packages/richtext-lexical/src/features/blockquote/server/index.ts
  packages/richtext-lexical/src/features/blocks/client/markdownTransformer.ts
  packages/richtext-lexical/src/features/blocks/server/markdownTransformer.ts
  packages/richtext-lexical/src/features/converters/lexicalToMarkdown/index.ts
  packages/richtext-lexical/src/features/converters/markdownToLexical/index.ts
  packages/richtext-lexical/src/features/experimental_table/markdownTransformer.ts
  packages/richtext-lexical/src/features/format/bold/feature.client.tsx
  packages/richtext-lexical/src/features/format/bold/feature.server.ts
  packages/richtext-lexical/src/features/format/bold/markdownTransformers.ts
  packages/richtext-lexical/src/features/format/inlineCode/feature.client.tsx
  packages/richtext-lexical/src/features/format/inlineCode/feature.server.ts
  packages/richtext-lexical/src/features/format/inlineCode/markdownTransformers.ts
  packages/richtext-lexical/src/features/format/italic/feature.client.tsx
  packages/richtext-lexical/src/features/format/italic/feature.server.ts
  packages/richtext-lexical/src/features/format/italic/markdownTransformers.ts
  packages/richtext-lexical/src/features/format/strikethrough/feature.client.tsx
  packages/richtext-lexical/src/features/format/strikethrough/feature.server.ts
  packages/richtext-lexical/src/features/format/strikethrough/markdownTransformers.ts
  packages/richtext-lexical/src/features/heading/markdownTransformer.ts
  packages/richtext-lexical/src/features/horizontalRule/server/markdownTransformer.ts
  packages/richtext-lexical/src/features/link/markdownTransformer.ts
  packages/richtext-lexical/src/features/lists/checklist/client/index.tsx
  packages/richtext-lexical/src/features/lists/checklist/markdownTransformers.ts
  packages/richtext-lexical/src/features/lists/checklist/server/index.ts
  packages/richtext-lexical/src/features/lists/orderedList/client/index.tsx
  packages/richtext-lexical/src/features/lists/orderedList/markdownTransformer.ts
  packages/richtext-lexical/src/features/lists/orderedList/server/index.ts
  packages/richtext-lexical/src/features/lists/shared/markdown.ts
  packages/richtext-lexical/src/features/lists/unorderedList/client/index.tsx
  packages/richtext-lexical/src/features/lists/unorderedList/markdownTransformer.ts
  packages/richtext-lexical/src/features/lists/unorderedList/server/index.ts
  packages/richtext-lexical/src/features/typesClient.ts
  packages/richtext-lexical/src/features/typesServer.ts
Owners: @AlessioGr

do not rely on cached user, abstract createUnuauthenticatedClientConfig
  packages/next/src/views/Document/handleServerFunction.tsx
  packages/next/src/views/List/handleServerFunction.tsx
  packages/next/src/views/Version/index.tsx
  packages/payload/src/config/client.ts
  packages/payload/src/index.ts
  packages/ui/src/utilities/buildFormState.ts
  packages/ui/src/utilities/buildTableState.ts
  packages/ui/src/utilities/getClientConfig.ts
Owners: @jacobsfletch, @AlessioGr, @JarrodMFlesch

sync config to provider client-side upon login
  packages/next/src/views/Root/SyncClientConfig.tsx
  packages/next/src/views/Root/index.tsx
  packages/ui/src/providers/Config/index.tsx
Owners: @jacobsfletch, @AlessioGr, @JarrodMFlesch

test: adds e2e tests
  test/uploads/config.ts
  test/uploads/e2e.spec.ts
  test/uploads/payload-types.ts
  test/uploads/shared.ts
Owners: none

chore: adds docs
  docs/upload/overview.mdx
  packages/payload/src/uploads/types.ts
Owners: none

feat(richtext-lexical): add mergeAdjacentLines and preserveNewLines options to markdown converter
  packages/richtext-lexical/src/features/converters/markdownToLexical/index.ts
Owners: @AlessioGr

remove duplicated export $convertFromMarkdownString
  packages/richtext-lexical/src/index.ts
Owners: @AlessioGr

feat: adds experimental.localizeUpdatedAt option
  docs/configuration/localization.mdx
  docs/experimental/overview.mdx
  packages/db-mongodb/src/createGlobalVersion.ts
  packages/db-mongodb/src/createVersion.ts
  packages/db-mongodb/src/queryDrafts.ts
  packages/drizzle/src/createGlobalVersion.ts
  packages/drizzle/src/createVersion.ts
  packages/drizzle/src/queryDrafts.ts
  packages/next/src/views/Versions/cells/AutosaveCell/index.tsx
  packages/payload/src/config/client.ts
  packages/payload/src/config/types.ts
  packages/payload/src/database/types.ts
  packages/payload/src/versions/baseFields.ts
  packages/payload/src/versions/buildCollectionFields.ts
  packages/payload/src/versions/buildGlobalFields.ts
  packages/payload/src/versions/drafts/replaceWithDraftIfAvailable.ts
  packages/payload/src/versions/saveVersion.ts
  packages/payload/src/versions/types.ts
  test/localization/config.ts
  test/localization/e2e.spec.ts
Owners: none

properly format fields for polymorphic data
  packages/next/src/views/List/index.tsx
  packages/payload/src/admin/functions/index.ts
  packages/ui/src/utilities/buildTableState.ts
  packages/ui/src/utilities/getColumns.ts
  packages/ui/src/utilities/renderTable.tsx
  test/_community/collections/Posts/index.ts
Owners: @jacobsfletch, @AlessioGr, @JarrodMFlesch

fix(plugin-multi-tenant): hide watchTenant column field
  packages/plugin-multi-tenant/src/index.ts
Owners: @JarrodMFlesch

safely access blocksMap
  packages/ui/src/fields/Blocks/index.tsx
Owners: @jacobsfletch, @AlessioGr, @JarrodMFlesch

chore: updates package-lock
  pnpm-lock.yaml
  test/plugin-mcp/int.spec.ts
Owners: none

fix imports and errors
  packages/richtext-lexical/src/lexical-proxy/@lexical-markdown.ts
  packages/richtext-lexical/src/lexical/plugins/MarkdownShortcut/index.tsx
  packages/richtext-lexical/src/packages/@lexical/markdown/index.ts
  test/lexical-mdx/mdx/hooks.ts
  test/lexical-mdx/payload-types.ts
Owners: @AlessioGr

generate full config for create first user flow
  packages/next/src/views/Root/getRouteData.ts
  packages/next/src/views/Root/index.tsx
  packages/payload/src/admin/views/index.ts
  packages/payload/src/config/client.ts
  packages/payload/src/utilities/flattenTopLevelFields.ts
  packages/ui/src/fields/Join/index.tsx
Owners: @jacobsfletch, @AlessioGr, @JarrodMFlesch

fix eslint errors
  packages/richtext-lexical/src/features/horizontalRule/client/markdownTransformer.ts
  packages/richtext-lexical/src/lexical/utils/markdown/createBlockNode.ts
Owners: @AlessioGr

fix: thread draft arg through to field hooks
  packages/payload/src/admin/RichText.ts
  packages/payload/src/collections/config/types.ts
  packages/payload/src/collections/operations/create.ts
  packages/payload/src/collections/operations/delete.ts
  packages/payload/src/collections/operations/deleteByID.ts
  packages/payload/src/collections/operations/restoreVersion.ts
  packages/payload/src/collections/operations/update.ts
  packages/payload/src/collections/operations/updateByID.ts
  packages/payload/src/collections/operations/utilities/update.ts
  packages/payload/src/fields/hooks/afterChange/index.ts
  packages/payload/src/fields/hooks/afterChange/promise.ts
  packages/payload/src/fields/hooks/afterChange/traverseFields.ts
  packages/payload/src/fields/hooks/beforeChange/index.ts
  packages/payload/src/fields/hooks/beforeChange/promise.ts
  packages/payload/src/fields/hooks/beforeChange/traverseFields.ts
  packages/payload/src/fields/hooks/beforeValidate/index.ts
  packages/payload/src/fields/hooks/beforeValidate/promise.ts
  packages/payload/src/fields/hooks/beforeValidate/traverseFields.ts
Owners: none

draft arg threading in restore and update
  packages/payload/src/globals/operations/restoreVersion.ts
  packages/payload/src/globals/operations/update.ts
Owners: none

remove dead code
  templates/ecommerce/src/components/Cart/CartModal.tsx
Owners: none

test: remove unnecessary seed
  test/uploads/config.ts
Owners: none

test: add json query equals_and_in test
  test/fields/int.spec.ts
Owners: none

fix: wrap postgresql json in queries with parenthesis
  packages/drizzle/src/postgres/createJSONQuery/index.ts
Owners: none

omg that was the worst thing ever
  test/uploads/config.ts
  test/uploads/e2e.spec.ts
Owners: none

test: fix failing upload test
  test/uploads/e2e.spec.ts
Owners: none

test: increase timeout in uploads cors test
  test/uploads/e2e.spec.ts
Owners: none

chore: add tooltip comments
  packages/plugin-mcp/src/types.ts
Owners: none

test: increase timeout in uploads cors test (#13743)
  test/uploads/e2e.spec.ts
Owners: none

test
  packages/richtext-lexical/src/lexical/LexicalEditor.scss
Owners: @AlessioGr

.github/CODEOWNERS:

# Order matters. The last matching pattern takes precedence

## Package Exports

**/exports/ @denolfe @DanRibbens

## Packages

/packages/create-payload-app/src/ @denolfe
/packages/email-*/src/ @denolfe
/packages/eslint-*/ @denolfe @AlessioGr
/packages/plugin-cloud-storage/src/ @denolfe
/packages/plugin-multi-tenant/src/ @JarrodMFlesch
/packages/richtext-*/src/ @AlessioGr
/packages/storage-*/src/ @denolfe
/packages/ui/src/  @jacobsfletch @AlessioGr @JarrodMFlesch

## Templates

/templates/_data/ @denolfe
/templates/_template/ @denolfe

## Build Files

**/jest.config.js @denolfe @AlessioGr
**/tsconfig*.json @denolfe @AlessioGr

## Root

/.github/ @denolfe
/.husky/ @denolfe
/.vscode/ @denolfe @AlessioGr
/package.json @denolfe
/tools/ @denolfe
