Repository payloadcms/payload, changes with the owners that .github/CODEOWNERS names for each.
All owners: @AlessioGr, @denolfe, @jacobsfletch

.github/CODEOWNERS:

# Order matters. The last matching pattern takes precedence.

### Core ###

### Adapters ###
/packages/richtext-*/ @AlessioGr

### Plugins ###
/packages/plugin-cloud*/ @denolfe

### Templates ###
/templates/ @jacobsfletch @denolfe

### Misc ###
/packages/create-payload-app/ @denolfe
/packages/eslint-*/ @denolfe

### Build Files ###
/**/package.json @denolfe

/tsconfig.json @denolfe
/**/tsconfig*.json @denolfe

/jest.config.js @denolfe
/**/jest.config.js @denolfe

### Root ###
/package.json @denolfe
/scripts/ @denolfe
/.husky/ @denolfe
/.vscode/ @denolfe
/.github/ @denolfe

fix multi-tenant types
  packages/plugin-multi-tenant/src/utilities/withTenantAccess.ts
Owners: none

perf: skips field validations until the form is submitted (#10580)
  examples/multi-tenant/src/app/(payload)/admin/importMap.js
  packages/next/src/views/Account/index.tsx
  packages/next/src/views/CreateFirstUser/index.client.tsx
  packages/next/src/views/CreateFirstUser/index.tsx
  packages/next/src/views/Document/index.tsx
  packages/next/src/views/LivePreview/index.client.tsx
  packages/payload/src/admin/forms/Form.ts
  packages/ui/src/elements/BulkUpload/EditForm/index.tsx
  packages/ui/src/elements/BulkUpload/FormsManager/index.tsx
  packages/ui/src/elements/EditMany/DrawerContent.tsx
  packages/ui/src/forms/Form/index.tsx
  packages/ui/src/forms/Form/types.ts
  packages/ui/src/forms/fieldSchemasToFormState/index.tsx
  packages/ui/src/utilities/buildFormState.ts
  packages/ui/src/views/Edit/index.tsx
Owners: none

templates: fix compatibility with pnpm 10
  templates/_template/package.json
  templates/blank/package.json
  templates/plugin/package.json
  templates/website/package.json
  templates/with-payload-cloud/package.json
  templates/with-postgres/package.json
  templates/with-vercel-mongodb/package.json
  templates/with-vercel-postgres/package.json
  templates/with-vercel-website/package.json
Owners: @denolfe

fix: adds prev value on form state validat functions
  packages/ui/src/forms/fieldSchemasToFormState/addFieldStatePromise.ts
Owners: none

chore: flattens css files
  templates/blank/src/app/(frontend)/globals.css
  templates/blank/src/app/(frontend)/globals.scss
  templates/blank/src/app/(frontend)/layout.tsx
  templates/blank/src/app/(frontend)/page.tsx
  templates/with-payload-cloud/src/app/(frontend)/globals.css
  templates/with-payload-cloud/src/app/(frontend)/globals.scss
  templates/with-payload-cloud/src/app/(frontend)/layout.tsx
  templates/with-payload-cloud/src/app/(frontend)/page.tsx
  templates/with-postgres/src/app/(frontend)/globals.css
  templates/with-postgres/src/app/(frontend)/globals.scss
  templates/with-postgres/src/app/(frontend)/layout.tsx
  templates/with-postgres/src/app/(frontend)/page.tsx
  templates/with-vercel-mongodb/src/app/(frontend)/globals.css
  templates/with-vercel-mongodb/src/app/(frontend)/globals.scss
  templates/with-vercel-mongodb/src/app/(frontend)/layout.tsx
  templates/with-vercel-mongodb/src/app/(frontend)/page.tsx
  templates/with-vercel-postgres/src/app/(frontend)/globals.css
  templates/with-vercel-postgres/src/app/(frontend)/globals.scss
  templates/with-vercel-postgres/src/app/(frontend)/layout.tsx
  templates/with-vercel-postgres/src/app/(frontend)/page.tsx
Owners: @jacobsfletch, @denolfe

fix(ui): adds prev value on form state validat functions (#10832)
  packages/ui/src/forms/fieldSchemasToFormState/addFieldStatePromise.ts
Owners: none

Allow polymorphic parent relationships
  packages/plugin-nested-docs/src/utilities/getParents.ts
Owners: none

Update comment
  packages/plugin-nested-docs/src/utilities/getParents.ts
Owners: none

new API
  packages/next/src/views/Version/buildVersionState.tsx
  packages/next/src/views/Version/index.tsx
  packages/payload/src/bin/generateImportMap/iterateCollections.ts
  packages/payload/src/bin/generateImportMap/iterateFields.ts
  packages/payload/src/bin/generateImportMap/iterateGlobals.ts
  packages/payload/src/config/types.ts
  packages/payload/src/fields/config/types.ts
  test/versions/collections/RichText.ts
Owners: none

chore(deps): upgrades react-diff-viewer to suppress react 19 warnings
  packages/next/package.json
Owners: @denolfe

regenerates pnpm-lock.yaml
  pnpm-lock.yaml
Owners: none

hides banner
  packages/next/src/views/Version/RenderFieldsToDiff/index.scss
  tsconfig.base.json
Owners: @denolfe

docs: fix links and formatting
  CONTRIBUTING.md
  docs/access-control/collections.mdx
  docs/admin/components.mdx
  docs/authentication/operations.mdx
  docs/authentication/overview.mdx
  docs/configuration/collections.mdx
  docs/configuration/globals.mdx
  docs/configuration/overview.mdx
  docs/database/migrations.mdx
  docs/database/postgres.mdx
  docs/fields/array.mdx
  docs/fields/join.mdx
  docs/fields/overview.mdx
  docs/getting-started/concepts.mdx
  docs/graphql/overview.mdx
  docs/hooks/fields.mdx
  docs/local-api/overview.mdx
  docs/queries/select.mdx
Owners: none

improve autoLogin link
  docs/authentication/overview.mdx
Owners: none

docs: fix links and formatting (#10835)
  CONTRIBUTING.md
  docs/access-control/collections.mdx
  docs/admin/components.mdx
  docs/authentication/operations.mdx
  docs/authentication/overview.mdx
  docs/configuration/collections.mdx
  docs/configuration/globals.mdx
  docs/configuration/overview.mdx
  docs/database/migrations.mdx
  docs/database/postgres.mdx
  docs/fields/array.mdx
  docs/fields/join.mdx
  docs/fields/overview.mdx
  docs/getting-started/concepts.mdx
  docs/graphql/overview.mdx
  docs/hooks/fields.mdx
  docs/local-api/overview.mdx
  docs/queries/select.mdx
Owners: none

simplify by completely moving rendering to RSC
  packages/next/src/views/Version/Default/index.tsx
  packages/next/src/views/Version/Default/types.ts
  packages/next/src/views/Version/RenderFieldsToDiff/RenderVersionFieldsToDiff.tsx
  packages/next/src/views/Version/RenderFieldsToDiff/buildVersionFields.tsx
  packages/next/src/views/Version/RenderFieldsToDiff/fields/Collapsible/index.tsx
  packages/next/src/views/Version/RenderFieldsToDiff/fields/Group/index.tsx
  packages/next/src/views/Version/RenderFieldsToDiff/fields/Iterable/index.tsx
  packages/next/src/views/Version/RenderFieldsToDiff/fields/Row/index.tsx
  packages/next/src/views/Version/RenderFieldsToDiff/fields/Tabs/index.tsx
  packages/next/src/views/Version/RenderFieldsToDiff/index.tsx
  packages/next/src/views/Version/RenderFieldsToDiff/utilities/getFieldsForRowComparison.ts
  packages/next/src/views/Version/index.tsx
  packages/payload/src/config/types.ts
Owners: none

use getFieldPathsModified
  packages/next/src/views/Version/RenderFieldsToDiff/buildVersionFields.tsx
  packages/next/src/views/Version/RenderFieldsToDiff/utilities/getFieldPathsModified.ts
Owners: none

fix client side navigation to version view
  packages/next/src/views/Version/RenderFieldsToDiff/RenderVersionFieldsToDiff.tsx
  packages/next/src/views/Version/RenderFieldsToDiff/index.tsx
Owners: none

fix getFieldPathsModified, add error handling
  packages/next/src/views/Version/RenderFieldsToDiff/buildVersionFields.tsx
  packages/next/src/views/Version/RenderFieldsToDiff/utilities/getFieldPathsModified.ts
Owners: none

fix version access control
  packages/next/src/views/Version/index.tsx
  packages/next/src/views/Versions/getLatestVersion.ts
Owners: none

docs: update fields/overview
  docs/fields/overview.mdx
Owners: none

Fix Css top use vars as restore does
  packages/next/src/views/Version/Default/index.scss
Owners: none

docs: update fields/overview
  docs/fields/overview.mdx
Owners: none

docs: update fields/overview
  docs/fields/overview.mdx
Owners: none

export all diff components
  packages/next/src/views/Version/RenderFieldsToDiff/buildVersionFields.tsx
  packages/next/src/views/Version/RenderFieldsToDiff/fields/Collapsible/index.tsx
  packages/next/src/views/Version/RenderFieldsToDiff/fields/Group/index.tsx
  packages/next/src/views/Version/RenderFieldsToDiff/fields/Iterable/index.tsx
  packages/next/src/views/Version/RenderFieldsToDiff/fields/Relationship/index.tsx
  packages/next/src/views/Version/RenderFieldsToDiff/fields/Row/index.tsx
  packages/next/src/views/Version/RenderFieldsToDiff/fields/Select/index.tsx
  packages/next/src/views/Version/RenderFieldsToDiff/fields/Tabs/index.tsx
  packages/next/src/views/Version/RenderFieldsToDiff/fields/Text/index.tsx
  packages/next/src/views/Version/RenderFieldsToDiff/fields/index.tsx
  packages/next/src/views/Version/RenderFieldsToDiff/types.ts
  packages/payload/src/admin/fields/Array.ts
  packages/payload/src/admin/fields/Blocks.ts
  packages/payload/src/admin/fields/Checkbox.ts
  packages/payload/src/admin/fields/Code.ts
  packages/payload/src/admin/fields/Collapsible.ts
  packages/payload/src/admin/fields/Date.ts
  packages/payload/src/admin/fields/Email.ts
  packages/payload/src/admin/fields/Group.ts
  packages/payload/src/admin/fields/JSON.ts
  packages/payload/src/admin/fields/Join.ts
  packages/payload/src/admin/fields/Number.ts
  packages/payload/src/admin/fields/Point.ts
  packages/payload/src/admin/fields/Radio.ts
  packages/payload/src/admin/fields/Relationship.ts
  packages/payload/src/admin/fields/RichText.ts
  packages/payload/src/admin/fields/Row.ts
  packages/payload/src/admin/fields/Select.ts
  packages/payload/src/admin/fields/Tabs.ts
  packages/payload/src/admin/fields/Text.ts
  packages/payload/src/admin/fields/Textarea.ts
  packages/payload/src/admin/fields/UI.ts
  packages/payload/src/admin/fields/Upload.ts
  packages/payload/src/admin/forms/Diff.ts
  packages/payload/src/admin/types.ts
  packages/payload/src/config/types.ts
  packages/payload/src/fields/config/types.ts
  test/versions/elements/RichTextDiffComponent/index.tsx
Owners: none

Show also admin fields
  packages/next/src/views/Version/RenderFieldsToDiff/index.tsx
Owners: none

Update docs/upload/overview.mdx to specify how to use local API to seed a local file.
  docs/upload/overview.mdx
Owners: none

chore(translations): adds missing client keys and removes translated validation errors
  packages/payload/src/fields/validations.ts
  packages/translations/src/clientKeys.ts
Owners: none

fix: checks for localization to prevent publish button breaking
  packages/ui/src/elements/PublishButton/index.tsx
Owners: none

fix: checks for localization to prevent publish button breaking (#10844)
  packages/ui/src/elements/PublishButton/index.tsx
Owners: none

uses esm imports and fixes styles
  packages/next/src/views/Version/RenderFieldsToDiff/fields/Text/DiffViewer/index.tsx
  packages/next/src/views/Version/RenderFieldsToDiff/fields/styles.ts
Owners: none

fix: allow initialState replacement without losing focus
  packages/richtext-lexical/src/field/Field.tsx
  test/fields/collections/Lexical/components/ClearState.tsx
  test/fields/collections/Lexical/e2e/main/e2e.spec.ts
  test/fields/collections/Lexical/index.ts
Owners: @AlessioGr

more esm imports
  packages/next/src/views/Version/RenderFieldsToDiff/fields/Relationship/index.tsx
  packages/next/src/views/Version/RenderFieldsToDiff/fields/Select/DiffViewer/index.tsx
Owners: none

chore: uses config admin route instead of hardcoded admin url string
  templates/blank/src/app/(frontend)/layout.tsx
  templates/blank/src/app/(frontend)/page.tsx
  templates/blank/src/app/(frontend)/styles.css
  templates/with-payload-cloud/src/app/(frontend)/layout.tsx
  templates/with-payload-cloud/src/app/(frontend)/page.tsx
  templates/with-payload-cloud/src/app/(frontend)/styles.css
  templates/with-postgres/src/app/(frontend)/layout.tsx
  templates/with-postgres/src/app/(frontend)/page.tsx
  templates/with-postgres/src/app/(frontend)/styles.css
  templates/with-vercel-mongodb/src/app/(frontend)/layout.tsx
  templates/with-vercel-mongodb/src/app/(frontend)/page.tsx
  templates/with-vercel-mongodb/src/app/(frontend)/styles.css
  templates/with-vercel-postgres/src/app/(frontend)/layout.tsx
  templates/with-vercel-postgres/src/app/(frontend)/page.tsx
  templates/with-vercel-postgres/src/app/(frontend)/styles.css
Owners: @jacobsfletch, @denolfe

defers rendering until mount to prevent CLS and FOUC
  packages/next/src/views/Version/RenderFieldsToDiff/index.tsx
Owners: none

removes unnecessary inline style
  packages/next/src/views/Version/RenderFieldsToDiff/fields/styles.ts
Owners: none

fix(ui): correctly show blocks after blocksDrawer close
  packages/ui/src/fields/Blocks/BlocksDrawer/index.tsx
Owners: none

chore: simplifies admin route link
  templates/blank/src/app/(frontend)/page.tsx
  templates/with-payload-cloud/src/app/(frontend)/page.tsx
  templates/with-postgres/src/app/(frontend)/page.tsx
  templates/with-vercel-mongodb/src/app/(frontend)/page.tsx
  templates/with-vercel-postgres/src/app/(frontend)/page.tsx
Owners: @jacobsfletch, @denolfe

chore: improves cloud autorun logic
  packages/payload-cloud/src/plugin.ts
Owners: none

chore: cleanup
  packages/payload-cloud/src/plugin.ts
Owners: none
