Repository payloadcms/payload, pull requests merged in 2023-11, with the labels that each got.

#4062 fix(richtext-lexical): floating select toolbar caret not positioned correctly if first line is selected
  packages/richtext-lexical/src/field/lexical/plugins/FloatingSelectToolbar/index.tsx
  packages/richtext-lexical/src/field/lexical/utils/setFloatingElemPosition.ts
Labels: plugin:richtext-lexical

#4099 fix: fully defines the define property for esbuild string replacement
  packages/bundler-vite/src/config.ts
Labels: bundler-vite

#4113 fix(richtext-lexical): Blocks: z-index and floating select menu button click issues
  packages/richtext-lexical/src/field/lexical/plugins/FloatingSelectToolbar/ToolbarButton/index.tsx
  packages/richtext-lexical/src/field/lexical/plugins/FloatingSelectToolbar/ToolbarDropdown/DropDown.tsx
  packages/richtext-lexical/src/field/lexical/ui/ContentEditable.scss
  test/fields/collections/Lexical/blocks.ts
  test/fields/collections/Lexical/generateLexicalRichText.ts
  test/fields/lexical.e2e.spec.ts
Labels: plugin: richtext-lexical

#4139 fix(richtext-lexical): nested editor may lose focus when writing
  packages/richtext-lexical/src/field/features/Blocks/component/BlockContent.tsx
  test/fields/lexical.e2e.spec.ts
Labels: plugin: richtext-lexical

#4145 fix(richtext-lexical): remove optional chaining after `this` operator as transpilers are not handling it well
  packages/richtext-lexical/src/field/features/Relationship/nodes/RelationshipNode.tsx
Labels: plugin: richtext-lexical

#3116 chore(examples/form-builder): improves form input accessibility
  examples/form-builder/nextjs/components/Blocks/Form/Country/index.tsx
  examples/form-builder/nextjs/components/Blocks/Form/Email/index.tsx
  examples/form-builder/nextjs/components/Blocks/Form/Number/index.tsx
  examples/form-builder/nextjs/components/Blocks/Form/Select/index.tsx
  examples/form-builder/nextjs/components/Blocks/Form/State/index.tsx
  examples/form-builder/nextjs/components/Blocks/Form/Text/index.tsx
  examples/form-builder/nextjs/components/Blocks/Form/Textarea/index.tsx
Labels: merge-priority-3, base: 1.x

#4171 fix(richtext-lexical): visual bug after rearranging blocks
  packages/richtext-lexical/src/field/lexical/plugins/handles/DraggableBlockPlugin/index.tsx
Labels: plugin: richtext-lexical

#3995 fix(richtext-lexical): Blocks: make sure fields are wrapped in a uniquely-named group and change block node data format
  docs/admin/components.mdx
  packages/payload/src/admin/components/forms/field-types/Checkbox/Input.tsx
  packages/payload/src/admin/components/forms/field-types/Checkbox/index.tsx
  packages/payload/src/admin/components/forms/field-types/Code/index.tsx
  packages/payload/src/admin/components/forms/field-types/DateTime/Input.tsx
  packages/payload/src/admin/components/forms/field-types/Email/index.tsx
  packages/payload/src/admin/components/forms/field-types/Number/index.tsx
  packages/payload/src/admin/components/forms/field-types/Point/index.tsx
  packages/payload/src/admin/components/forms/field-types/Text/Input.tsx
  packages/payload/src/admin/components/forms/field-types/Text/index.tsx
  packages/payload/src/admin/components/forms/field-types/Textarea/Input.tsx
  packages/payload/src/admin/components/forms/field-types/Textarea/index.tsx
  packages/payload/src/admin/components/views/LivePreview/Toolbar/Controls/index.tsx
  packages/payload/src/fields/config/schema.ts
  packages/payload/src/fields/config/types.ts
  packages/richtext-lexical/src/field/features/Blocks/component/BlockContent.tsx
  packages/richtext-lexical/src/field/features/Blocks/component/FormSavePlugin.tsx
  packages/richtext-lexical/src/field/features/Blocks/component/index.tsx
  packages/richtext-lexical/src/field/features/Blocks/drawer/index.tsx
  packages/richtext-lexical/src/field/features/Blocks/index.ts
  packages/richtext-lexical/src/field/features/Blocks/nodes/BlocksNode.tsx
  packages/richtext-lexical/src/field/features/Blocks/plugin/index.tsx
  packages/richtext-lexical/src/field/features/Blocks/populationPromise.ts
  packages/richtext-lexical/src/field/features/Blocks/utils/transformInputFormData.ts
  packages/richtext-lexical/src/field/features/Blocks/utils/transformInputFormSchema.ts
  packages/richtext-lexical/src/field/features/Blocks/validate.ts
  test/_community/e2e.spec.ts
  test/access-control/e2e.spec.ts
  test/admin/e2e.spec.ts
  test/auth/e2e.spec.ts
  test/field-error-states/e2e.spec.ts
  test/fields-relationship/e2e.spec.ts
  test/fields/collections/Lexical/blocks.ts
  test/fields/collections/Lexical/generateLexicalRichText.ts
  test/fields/collections/Lexical/index.ts
  test/fields/collections/Text/AfterInput.tsx
  test/fields/collections/Text/BeforeInput.tsx
  test/fields/collections/Text/index.ts
  test/fields/e2e.spec.ts
  test/fields/lexical.e2e.spec.ts
  test/fields/lexical.int.spec.ts
  test/helpers.ts
  test/live-preview/e2e.spec.ts
  test/localization/e2e.spec.ts
  test/refresh-permissions/e2e.spec.ts
  test/uploads/e2e.spec.ts
  test/versions/e2e.spec.ts
Labels: plugin: richtext-lexical

#4207 fix(richtext-lexical): Blocks: fields without fulfilled condition are now skipped for validation
  packages/payload/src/fields/config/types.ts
  packages/richtext-lexical/src/field/features/Blocks/validate.ts
  test/fields/collections/Lexical/blocks.ts
  test/fields/collections/Lexical/generateLexicalRichText.ts
  test/fields/collections/Lexical/index.ts
Labels: plugin: richtext-lexical

#4209 fix(richtext-lexical): Blocks: Array row data is not removed
  packages/richtext-lexical/src/field/features/Blocks/component/BlockContent.tsx
  packages/richtext-lexical/src/field/features/Blocks/component/index.tsx
  test/fields/lexical.e2e.spec.ts
Labels: plugin: richtext-lexical

#4206 chore(richtext-lexical): Add a hint that the slash menu exists to the user
  packages/richtext-lexical/src/field/lexical/LexicalEditor.tsx
Labels: plugin: richtext-lexical

#4293 fix(richtext-lexical): HTML Converter field not working inside of tabs
  packages/richtext-lexical/src/field/features/converters/html/field/index.ts
Labels: plugin: richtext-lexical
