Repository payloadcms/payload, pull requests merged in 2023-12, with the labels that each got.

#4342 fix(richtext-lexical): Blocks node: incorrect conversion from v1 node to v2 node
  packages/richtext-lexical/src/field/features/Blocks/nodes/BlocksNode.tsx
Labels: plugin: richtext-lexical

#4325 fix(richtext-lexical): blocks content may be hidden behind components outside of the editor
  packages/richtext-lexical/src/field/lexical/LexicalEditor.scss
  test/fields/lexical.e2e.spec.ts
Labels: plugin: richtext-lexical

#4415 chore(richtext-lexical): upgrade to lexical 0.12.5 and port over relevant playground changes
  packages/richtext-lexical/package.json
  packages/richtext-lexical/src/field/features/BlockQuote/index.ts
  packages/richtext-lexical/src/field/features/Heading/index.ts
  packages/richtext-lexical/src/field/features/Link/nodes/LinkNode.ts
  packages/richtext-lexical/src/field/features/Paragraph/index.ts
  packages/richtext-lexical/src/field/features/debug/TestRecorder/plugin/index.tsx
  pnpm-lock.yaml
Labels: plugin: richtext-lexical

#4416 fix(richtext-*): loosen RichTextAdapter types due to re-occuring ts strict mode errors
  packages/richtext-lexical/src/index.ts
  packages/richtext-slate/src/index.ts
  packages/richtext-slate/src/types.ts
Labels: plugin: richtext-lexical, plugin: richtext-slate

#4430 feat(richtext-lexical): Improve Upload element serialization
  packages/richtext-lexical/src/field/features/Upload/index.ts
Labels: plugin: richtext-lexical

#4432 chore(richtext-lexical): Slash Menu: Don't show scroll bar if not needed
  packages/richtext-lexical/src/field/lexical/plugins/SlashMenu/index.scss
Labels: plugin: richtext-lexical

#4440 fix(richtext-lexical): lexicalHTML field now works when used inside of row fields
  packages/richtext-lexical/src/field/features/converters/html/field/index.ts
Labels: plugin: richtext-lexical

#4441 fix(richtext-lexical): do not add unnecessary paragraph before upload, relationship and blocks nodes
  packages/richtext-lexical/src/field/features/Blocks/plugin/index.tsx
  packages/richtext-lexical/src/field/features/Relationship/plugins/index.tsx
  packages/richtext-lexical/src/field/features/Upload/plugin/index.tsx
Labels: plugin: richtext-lexical

#4442 feat(richtext-lexical): improve link URL validation
  packages/richtext-lexical/src/field/features/Link/drawer/baseFields.ts
  packages/richtext-lexical/src/field/lexical/utils/url.ts
Labels: plugin: richtext-lexical

#4444 feat(richtext-lexical)!: improve floating select menu Dropdown classNames
  packages/richtext-lexical/src/field/lexical/plugins/FloatingSelectToolbar/ToolbarDropdown/DropDown.tsx
  packages/richtext-lexical/src/field/lexical/plugins/FloatingSelectToolbar/ToolbarDropdown/index.tsx
  packages/richtext-lexical/src/field/lexical/plugins/FloatingSelectToolbar/index.tsx
Labels: plugin: richtext-lexical

#4446 fix(richtext-lexical): incorrect URL validation for tel: URLs, unnecessary license headers
  packages/richtext-lexical/src/field/features/Link/nodes/LinkNode.ts
  packages/richtext-lexical/src/field/lexical/utils/environment.ts
  packages/richtext-lexical/src/field/lexical/utils/getSelectedNode.ts
  packages/richtext-lexical/src/field/lexical/utils/guard.ts
  packages/richtext-lexical/src/field/lexical/utils/joinClasses.ts
  packages/richtext-lexical/src/field/lexical/utils/nodeFormat.ts
  packages/richtext-lexical/src/field/lexical/utils/point.ts
  packages/richtext-lexical/src/field/lexical/utils/rect.ts
  packages/richtext-lexical/src/field/lexical/utils/setFloatingElemPosition.ts
  packages/richtext-lexical/src/field/lexical/utils/setFloatingElemPositionForLinkEditor.ts
  packages/richtext-lexical/src/field/lexical/utils/swipe.ts
  packages/richtext-lexical/src/field/lexical/utils/url.ts
Labels: plugin: richtext-lexical

#4450 fix(richtext-lexical): Blocks field: should not prompt for unsaved changes due to value comparison between null and non-existent props
  packages/richtext-lexical/src/field/features/Blocks/component/BlockContent.tsx
Labels: plugin: richtext-lexical

#4483 chore(richtext-lexical): Add e2e test for #4115
  test/fields/lexical.e2e.spec.ts
Labels: plugin: richtext-lexical

#4486 feat(richtext-lexical): Slate to Lexical converter: add blockquote conversion, convert custom link fields
  packages/richtext-lexical/src/field/features/migrations/SlateToLexical/converter/converters/blockquote.ts
  packages/richtext-lexical/src/field/features/migrations/SlateToLexical/converter/converters/link.ts
  packages/richtext-lexical/src/field/features/migrations/SlateToLexical/converter/defaultConverters.ts
  packages/richtext-lexical/src/index.ts
  test/fields/collections/LexicalMigrate/data.ts
  test/fields/collections/LexicalMigrate/index.ts
Labels: plugin: richtext-lexical

#4217 fix: make admin navigation transition smoother
  packages/payload/src/admin/components/elements/Nav/index.scss
  packages/payload/src/admin/components/templates/Default/index.scss
Labels: enhancement

#4504 feat(richtext-lexical)!: link node: change data format to be consistent with relationship field
  packages/richtext-lexical/src/field/features/Link/index.ts
  packages/richtext-lexical/src/field/features/Link/nodes/AutoLinkNode.ts
  packages/richtext-lexical/src/field/features/Link/nodes/LinkNode.ts
  packages/richtext-lexical/src/field/features/Link/plugins/floatingLinkEditor/LinkEditor/index.tsx
  packages/richtext-lexical/src/field/features/Link/populationPromise.ts
  packages/richtext-lexical/src/field/features/migrations/LexicalPluginToLexical/converter/converters/link.ts
  packages/richtext-lexical/src/field/features/migrations/SlateToLexical/converter/converters/link.ts
  test/fields/collections/RichText/generateLexicalRichText.ts
  test/fields/lexical.int.spec.ts
Labels: plugin: richtext-lexical

#4520 feat(richtext-lexical)!: rename TreeviewFeature into TreeViewFeature
  packages/richtext-lexical/src/field/features/debug/TreeView/index.ts
  packages/richtext-lexical/src/index.ts
  test/fields/collections/Lexical/index.ts
  test/fields/collections/LexicalMigrate/index.ts
  test/fields/collections/RichText/index.ts
Labels: plugin: richtext-lexical

#4554 fix(templates/ecommerce): update plugin-stripe dependency which fixes peer dependency error
  templates/ecommerce/package.json
  templates/ecommerce/yarn.lock
Labels: templates

#4570 fix(richtext-lexical): z-index issues
  packages/richtext-lexical/src/field/lexical/LexicalEditor.scss
  packages/richtext-lexical/src/field/lexical/ui/ContentEditable.scss
Labels: plugin: richtext-lexical
