Repository payloadcms/payload, pull requests merged in 2024-02, with the labels that each got.

#5010 fix(richtext-lexical): make editor reactive to initialValue changes
  packages/richtext-lexical/src/field/Field.tsx
  packages/richtext-slate/src/field/RichText.tsx
Labels: plugin: richtext-lexical

#4868 feat(richtext-lexical): add justify aligment to AlignFeature (#4035)
  packages/richtext-lexical/src/field/features/align/index.ts
  packages/richtext-lexical/src/field/lexical/ui/icons/AlignJustify/index.tsx
Labels: plugin: richtext-lexical

#5061 fix(richtext-lexical): do not remove adjacent paragraph node when inserting certain nodes in empty editor
  packages/richtext-lexical/src/field/features/Blocks/plugin/index.tsx
  packages/richtext-lexical/src/field/features/Relationship/plugins/index.tsx
  packages/richtext-lexical/src/field/features/Upload/plugin/index.tsx
Labels: plugin: richtext-lexical

#5066 feat(richtext-lexical)!: Update lexical from 0.12.6 to 0.13.1, port over all useful changes from playground
  package.json
  packages/richtext-lexical/package.json
  packages/richtext-lexical/src/field/features/BlockQuote/index.ts
  packages/richtext-lexical/src/field/features/Heading/index.ts
  packages/richtext-lexical/src/field/features/Link/nodes/LinkNode.ts
  packages/richtext-lexical/src/field/features/Link/plugins/autoLink/index.tsx
  packages/richtext-lexical/src/field/features/Link/plugins/floatingLinkEditor/LinkEditor/index.tsx
  packages/richtext-lexical/src/field/features/Paragraph/index.ts
  packages/richtext-lexical/src/field/lexical/theme/EditorTheme.tsx
  pnpm-lock.yaml
Labels: plugin: richtext-lexical

#5174 fix(richtext-*): RichText Cell components
  packages/next/src/pages/List/Default/Cell/fields/Richtext/index.tsx
  packages/next/src/pages/List/Default/Cell/fields/index.tsx
  packages/next/src/pages/List/Default/Cell/index.tsx
  packages/payload/src/admin/elements/Cell.ts
  packages/richtext-slate/src/cell/index.tsx
  packages/richtext-slate/src/index.tsx
  packages/ui/src/utilities/buildComponentMap/mapFields.tsx
  test/fields/lexical.int.spec.ts
Labels: plugin: richtext-lexical, plugin: richtext-slate

#5208 feat: bulk edit parity
  app/another.scss
  app/layouter.tsx
  app/page.tsx
  app/test.scss
  packages/graphql/src/schema/initCollections.ts
  packages/next/package.json
  packages/next/src/pages/Document/index.tsx
  packages/next/src/pages/Edit/Default/index.tsx
  packages/next/src/pages/List/Default/index.tsx
  packages/next/src/pages/List/index.tsx
  packages/next/src/pages/Login/LoginForm/index.tsx
  packages/next/src/routes/rest/buildFormState.ts
  packages/next/src/routes/rest/collections/buildFormState.ts
  packages/next/src/routes/rest/globals/buildFormState.ts
  packages/next/src/routes/rest/index.ts
  packages/payload/src/auth/operations/forgotPassword.ts
  packages/payload/src/collections/operations/delete.ts
  packages/payload/src/collections/operations/deleteByID.ts
  packages/payload/src/collections/operations/updateByID.ts
  packages/richtext-slate/src/field/elements/link/Button/index.tsx
  packages/richtext-slate/src/field/elements/link/Element/index.tsx
  packages/richtext-slate/src/field/elements/upload/Element/UploadDrawer/index.tsx
  packages/ui/src/elements/DeleteMany/index.tsx
  packages/ui/src/elements/DeleteMany/types.ts
  packages/ui/src/elements/DocumentDrawer/DrawerContent.tsx
  packages/ui/src/elements/EditMany/index.tsx
  packages/ui/src/elements/FieldSelect/index.tsx
  packages/ui/src/elements/ListControls/index.tsx
  packages/ui/src/elements/ListControls/types.ts
  packages/ui/src/elements/ListSelection/index.tsx
  packages/ui/src/elements/PublishMany/index.tsx
  packages/ui/src/elements/SelectAll/index.scss
  packages/ui/src/elements/SelectAll/index.tsx
  packages/ui/src/elements/SelectRow/index.scss
  packages/ui/src/elements/SelectRow/index.tsx
  packages/ui/src/elements/TableColumns/buildColumns.tsx
  packages/ui/src/elements/TableColumns/index.tsx
  packages/ui/src/elements/UnpublishMany/index.tsx
  packages/ui/src/elements/UnpublishMany/types.ts
  packages/ui/src/exports/elements.ts
  packages/ui/src/exports/forms.ts
  packages/ui/src/forms/fields/Checkbox/Input.tsx
  packages/ui/src/forms/fields/Checkbox/index.tsx
  packages/ui/src/forms/utilities/buildStateFromSchema/index.ts
  packages/ui/src/providers/DocumentInfo/index.tsx
  packages/ui/src/providers/DocumentInfo/types.ts
  pnpm-lock.yaml
  templates/ecommerce/src/app/_components/CollectionArchive/index.tsx
  templates/website/src/app/_components/CollectionArchive/index.tsx
  test/plugin-cloud-storage/int.spec.ts
  test/plugin-seo/e2e.spec.ts
Labels: 3.x
