Repository payloadcms/payload, pull requests merged in 2024-01, with the labels that each got.

#4732 chore(richtext-lexical): upgrade lexical from v0.12.5 to v0.12.6
  packages/richtext-lexical/package.json
  packages/richtext-lexical/src/field/features/Blocks/nodes/BlocksNode.tsx
  packages/richtext-lexical/src/field/features/Relationship/nodes/RelationshipNode.tsx
  packages/richtext-lexical/src/field/features/indent/index.ts
  pnpm-lock.yaml
Labels: plugin: richtext-lexical

#4765 feat(plugin-seo)!: remove supports for payload <2.7.0
  packages/plugin-seo/README.md
  packages/plugin-seo/package.json
  packages/plugin-seo/src/fields/MetaDescription.tsx
  packages/plugin-seo/src/fields/MetaImage.tsx
  packages/plugin-seo/src/fields/MetaTitle.tsx
  packages/plugin-seo/src/index.ts
  packages/plugin-seo/src/ui/LengthIndicator.tsx
  packages/plugin-seo/src/ui/Overview.tsx
  packages/plugin-seo/src/ui/Preview.tsx
  pnpm-lock.yaml
Labels: plugin: seo, breaking

#4923 Example/hierarchy
  examples/hierarchy/.env.example
  examples/hierarchy/.gitignore
  examples/hierarchy/.prettierrc.js
  examples/hierarchy/README.md
  examples/hierarchy/nodemon.json
  examples/hierarchy/package.json
  examples/hierarchy/src/collections/Entities.ts
  examples/hierarchy/src/collections/People.ts
  examples/hierarchy/src/collections/Users.ts
  examples/hierarchy/src/payload.config.ts
  examples/hierarchy/src/server.ts
  examples/hierarchy/tsconfig.json
  examples/hierarchy/yarn.lock
Labels: examples

#4529 feat(richtext-lexical): Blocks: generate type definitions for blocks fields
  packages/payload/src/admin/components/forms/field-types/RichText/types.ts
  packages/payload/src/bin/generateTypes.ts
  packages/payload/src/exports/utilities.ts
  packages/payload/src/utilities/configToJSONSchema.ts
  packages/richtext-lexical/package.json
  packages/richtext-lexical/src/field/features/Blocks/index.ts
  packages/richtext-lexical/src/field/features/types.ts
  packages/richtext-lexical/src/field/lexical/config/sanitize.ts
  packages/richtext-lexical/src/index.ts
  pnpm-lock.yaml
  test/fields/collections/Lexical/blocks.ts
Labels: plugin: richtext-lexical

#3124 feat: Optionally allows passing logger instance when calling payload.init
  packages/payload/src/config/types.ts
  packages/payload/src/payload.ts
Labels: merge-priority-3, base: 1.x
