Repository payloadcms/payload, pull requests merged in 2025-08, with the labels that each got.

#13336 fix(next): version view did not properly handle field-level permissions
  packages/next/src/views/Version/RenderFieldsToDiff/buildVersionFields.tsx
  test/versions/e2e.spec.ts
  test/versions/payload-types.ts
  test/versions/seed.ts
Labels: created-by: Payload team

#13367 chore: adds session helper exports
  packages/payload/src/auth/operations/login.ts
  packages/payload/src/auth/operations/refresh.ts
  packages/payload/src/auth/removeExpiredSessions.ts
  packages/payload/src/auth/sessions.ts
  packages/payload/src/exports/shared.ts
Labels: created-by: Payload team

#12396 fix(ui): fallback to default locale checkbox passes wrong value
  packages/payload/src/fields/hooks/afterRead/promise.ts
  packages/ui/src/fields/Array/index.tsx
  packages/ui/src/fields/Blocks/index.tsx
  packages/ui/src/forms/NullifyField/index.scss
  packages/ui/src/forms/NullifyField/index.tsx
  test/localization/collections/Array/index.ts
  test/localization/collections/ArrayWithFallback/index.ts
  test/localization/config.ts
  test/localization/e2e.spec.ts
  test/localization/int.spec.ts
  test/localization/payload-types.ts
  test/localization/shared.ts
Labels: created-by: Payload team

#13368 fix: use thumbnailUrl for upload documents in folder view
  packages/payload/src/folders/utils/formatFolderOrDocumentItem.ts
  test/folders/collections/Media/index.ts
Labels: created-by: Contributor

#13381 fix(next): group by dates with null values
  packages/next/src/views/List/handleGroupBy.ts
  test/group-by/collections/Posts/index.ts
  test/group-by/e2e.spec.ts
  test/group-by/payload-types.ts
Labels: created-by: Payload team

#13382 fix(next): group by boolean values
  packages/next/src/views/List/handleGroupBy.ts
  test/group-by/collections/Posts/index.ts
  test/group-by/e2e.spec.ts
  test/group-by/payload-types.ts
Labels: created-by: Payload team

#13229 fix(richtext-lexical, plugin-multi-tenant): text editor exposes documents from other tenants
  docs/configuration/collections.mdx
  docs/plugins/multi-tenant.mdx
  packages/next/src/views/List/index.tsx
  packages/payload/src/collections/config/client.ts
  packages/payload/src/collections/config/types.ts
  packages/payload/src/folders/utils/buildFolderWhereConstraints.ts
  packages/payload/src/index.ts
  packages/plugin-multi-tenant/README.md
  packages/plugin-multi-tenant/src/index.ts
  packages/plugin-multi-tenant/src/types.ts
  packages/plugin-multi-tenant/src/utilities/combineFilters.ts
  packages/richtext-lexical/src/features/link/server/baseFields.ts
  test/localization/payload-types.ts
  test/plugin-multi-tenant/collections/MenuItems.ts
  test/plugin-multi-tenant/credentials.ts
  test/plugin-multi-tenant/e2e.spec.ts
  test/plugin-multi-tenant/payload-types.ts
Labels: created-by: Payload team

#13416 fix(ui): autosave hooks are not reflected in form state
  docs/admin/react-hooks.mdx
  packages/ui/src/elements/Autosave/index.tsx
  packages/ui/src/elements/DocumentDrawer/Provider.tsx
  packages/ui/src/elements/Upload/index.tsx
  packages/ui/src/forms/Form/index.tsx
  packages/ui/src/forms/Form/types.ts
  packages/ui/src/providers/DocumentInfo/index.tsx
  packages/ui/src/providers/DocumentInfo/types.ts
  packages/ui/src/providers/DocumentTitle/index.tsx
  packages/ui/src/views/Edit/index.tsx
  test/_community/payload-types.ts
  test/versions/collections/Autosave.ts
  test/versions/e2e.spec.ts
  test/versions/payload-types.ts
Labels: created-by: Payload team

#13148 fix(ui): field elements showing over the top of Preview content
  packages/ui/src/elements/DocumentFields/index.scss
Labels: created-by: Contributor

#13424 fix(ui): misalignment of nested toggles on document API tab
  packages/next/src/views/API/RenderJSON/index.scss
Labels: created-by: Payload team

#13395 fix: ensure scheduling by default only handles default queue, add allQueues config to autoRun
  packages/payload/src/fields/baseFields/baseIDField.ts
  packages/payload/src/fields/hooks/beforeDuplicate/promise.ts
  packages/payload/src/index.ts
  packages/payload/src/queues/config/types/index.ts
  packages/payload/src/queues/endpoints/handleSchedules.ts
  packages/payload/src/queues/endpoints/run.ts
  packages/payload/src/queues/localAPI.ts
  packages/payload/src/queues/operations/handleSchedules/index.ts
  test/queues/schedules.int.spec.ts
Labels: created-by: Payload team

#13401 test: group-by reset and navigation tests in trash view
  test/group-by/e2e.spec.ts
Labels: created-by: Payload team

#13438 fix(ui): autosave form state discards local changes
  packages/ui/src/elements/Autosave/index.tsx
  packages/ui/src/forms/Form/fieldReducer.ts
  packages/ui/src/forms/Form/index.tsx
  packages/ui/src/forms/Form/mergeServerFormState.ts
  packages/ui/src/forms/Form/types.ts
  packages/ui/src/forms/fieldSchemasToFormState/addFieldStatePromise.ts
  test/form-state/int.spec.ts
  test/versions/collections/Autosave.ts
  test/versions/e2e.spec.ts
  test/versions/payload-types.ts
Labels: created-by: Payload team

#13095 feat(ui): update query presets ux
  packages/translations/src/clientKeys.ts
  packages/translations/src/languages/ar.ts
  packages/translations/src/languages/az.ts
  packages/translations/src/languages/bg.ts
  packages/translations/src/languages/bnBd.ts
  packages/translations/src/languages/bnIn.ts
  packages/translations/src/languages/ca.ts
  packages/translations/src/languages/cs.ts
  packages/translations/src/languages/da.ts
  packages/translations/src/languages/de.ts
  packages/translations/src/languages/en.ts
  packages/translations/src/languages/es.ts
  packages/translations/src/languages/et.ts
  packages/translations/src/languages/fa.ts
  packages/translations/src/languages/fr.ts
  packages/translations/src/languages/he.ts
  packages/translations/src/languages/hr.ts
  packages/translations/src/languages/hu.ts
  packages/translations/src/languages/hy.ts
  packages/translations/src/languages/id.ts
  packages/translations/src/languages/it.ts
  packages/translations/src/languages/ja.ts
  packages/translations/src/languages/ko.ts
  packages/translations/src/languages/lt.ts
  packages/translations/src/languages/lv.ts
  packages/translations/src/languages/my.ts
  packages/translations/src/languages/nb.ts
  packages/translations/src/languages/nl.ts
  packages/translations/src/languages/pl.ts
  packages/translations/src/languages/pt.ts
  packages/translations/src/languages/ro.ts
  packages/translations/src/languages/rs.ts
  packages/translations/src/languages/rsLatin.ts
  packages/translations/src/languages/ru.ts
  packages/translations/src/languages/sk.ts
  packages/translations/src/languages/sl.ts
  packages/translations/src/languages/sv.ts
  packages/translations/src/languages/th.ts
  packages/translations/src/languages/tr.ts
  packages/translations/src/languages/uk.ts
  packages/translations/src/languages/vi.ts
  packages/translations/src/languages/zh.ts
  packages/translations/src/languages/zhTw.ts
  packages/ui/src/elements/ListControls/ActiveQueryPreset/index.scss
  packages/ui/src/elements/ListControls/index.scss
  packages/ui/src/elements/ListControls/index.tsx
  packages/ui/src/elements/Pill/index.scss
  packages/ui/src/elements/QueryPresets/QueryPresetBar/index.scss
  packages/ui/src/elements/QueryPresets/QueryPresetBar/index.tsx
  packages/ui/src/elements/QueryPresets/QueryPresetToggler/index.scss
  packages/ui/src/elements/QueryPresets/QueryPresetToggler/index.tsx
  test/query-presets/e2e.spec.ts
  tools/constants/src/index.js
Labels: created-by: Payload team

#13415 fix: version view breaks when tab field has function for label
  packages/next/src/views/Version/RenderFieldsToDiff/buildVersionFields.tsx
Labels: created-by: Payload team

#13414 fix: upload with no filename gives vague error
  packages/ui/src/elements/Upload/index.tsx
Labels: created-by: Payload team

#13465 fix(plugin-import-export): csv export & preview showing full documents for hasMany monomorphic relationships instead of just ID
  packages/plugin-import-export/src/export/flattenObject.ts
  packages/plugin-import-export/src/export/getCustomFieldFunctions.ts
  packages/plugin-import-export/src/utilities/getFlattenedFieldKeys.ts
  test/plugin-import-export/collections/Pages.ts
  test/plugin-import-export/int.spec.ts
  test/plugin-import-export/payload-types.ts
  test/plugin-import-export/seed/index.ts
Labels: created-by: Payload team

#13428 fix(db-postgres): ensure index names are not too long
  packages/drizzle/src/utilities/buildIndexName.ts
  test/database/getConfig.ts
  test/database/up-down-migration/migrations/20250811_134524.json
  test/database/up-down-migration/migrations/20250811_134524.ts
  test/database/up-down-migration/migrations/index.ts
Labels: created-by: Payload team

#13474 test: fix import-export plugin int
  test/plugin-import-export/int.spec.ts
Labels: created-by: Payload team

#13475 fix: filter `payload-` cookies in `getExternalFile` only if the URL is external
  packages/payload/src/uploads/getExternalFile.ts
Labels: created-by: Payload team

#13478 feat(plugin-import-export): adds sort order control and sync with sort-by field
  packages/plugin-import-export/src/components/SortBy/index.tsx
  packages/plugin-import-export/src/components/SortOrder/index.scss
  packages/plugin-import-export/src/components/SortOrder/index.tsx
  packages/plugin-import-export/src/export/getFields.ts
  packages/plugin-import-export/src/exports/rsc.ts
  packages/plugin-import-export/src/translations/languages/ar.ts
  packages/plugin-import-export/src/translations/languages/az.ts
  packages/plugin-import-export/src/translations/languages/bg.ts
  packages/plugin-import-export/src/translations/languages/ca.ts
  packages/plugin-import-export/src/translations/languages/cs.ts
  packages/plugin-import-export/src/translations/languages/da.ts
  packages/plugin-import-export/src/translations/languages/de.ts
  packages/plugin-import-export/src/translations/languages/en.ts
  packages/plugin-import-export/src/translations/languages/es.ts
  packages/plugin-import-export/src/translations/languages/et.ts
  packages/plugin-import-export/src/translations/languages/fa.ts
  packages/plugin-import-export/src/translations/languages/fr.ts
  packages/plugin-import-export/src/translations/languages/he.ts
  packages/plugin-import-export/src/translations/languages/hr.ts
  packages/plugin-import-export/src/translations/languages/hu.ts
  packages/plugin-import-export/src/translations/languages/hy.ts
  packages/plugin-import-export/src/translations/languages/it.ts
  packages/plugin-import-export/src/translations/languages/ja.ts
  packages/plugin-import-export/src/translations/languages/ko.ts
  packages/plugin-import-export/src/translations/languages/lt.ts
  packages/plugin-import-export/src/translations/languages/lv.ts
  packages/plugin-import-export/src/translations/languages/my.ts
  packages/plugin-import-export/src/translations/languages/nb.ts
  packages/plugin-import-export/src/translations/languages/nl.ts
  packages/plugin-import-export/src/translations/languages/pl.ts
  packages/plugin-import-export/src/translations/languages/pt.ts
  packages/plugin-import-export/src/translations/languages/ro.ts
  packages/plugin-import-export/src/translations/languages/rs.ts
  packages/plugin-import-export/src/translations/languages/rsLatin.ts
  packages/plugin-import-export/src/translations/languages/ru.ts
  packages/plugin-import-export/src/translations/languages/sk.ts
  packages/plugin-import-export/src/translations/languages/sl.ts
  packages/plugin-import-export/src/translations/languages/sv.ts
  packages/plugin-import-export/src/translations/languages/th.ts
  packages/plugin-import-export/src/translations/languages/tr.ts
  packages/plugin-import-export/src/translations/languages/translation-schema.json
  packages/plugin-import-export/src/translations/languages/uk.ts
  packages/plugin-import-export/src/translations/languages/vi.ts
  packages/plugin-import-export/src/translations/languages/zh.ts
  packages/plugin-import-export/src/translations/languages/zhTw.ts
  packages/plugin-import-export/src/translations/types.ts
  packages/plugin-import-export/src/utilities/sortHelpers.ts
  test/plugin-import-export/int.spec.ts
  test/plugin-import-export/payload-types.ts
Labels: created-by: Payload team

#13486 fix(ui): bulk upload action bar buttons wrapping
  packages/ui/src/elements/BulkUpload/ActionsBar/index.scss
Labels: created-by: Payload team

#13491 feat(plugin-import-export): use groupBy as SortBy when present and sort is unset
  packages/plugin-import-export/src/components/SortBy/index.tsx
  packages/plugin-import-export/src/components/SortOrder/index.tsx
  packages/plugin-import-export/src/export/getFields.ts
  packages/plugin-import-export/src/utilities/sortHelpers.ts
  test/plugin-import-export/collections/Pages.ts
Labels: created-by: Payload team

#13442 fix(ui): local image src changing when title changes
  packages/ui/src/elements/Upload/index.tsx
Labels: created-by: Payload team

#13493 test: add array field helpers
  test/bulk-edit/e2e.spec.ts
  test/field-error-states/e2e.spec.ts
  test/field-error-states/payload-types.ts
  test/fields-relationship/e2e.spec.ts
  test/fields/collections/Array/e2e.spec.ts
  test/fields/collections/Blocks/e2e.spec.ts
  test/fields/collections/Collapsible/e2e.spec.ts
  test/fields/collections/ConditionalLogic/e2e.spec.ts
  test/fields/collections/Relationship/e2e.spec.ts
  test/fields/collections/Tabs2/e2e.spec.ts
  test/form-state/e2e.spec.ts
  test/helpers/e2e/fields/array/addArrayRow.ts
  test/helpers/e2e/fields/array/duplicateArrayRow.ts
  test/helpers/e2e/fields/array/index.ts
  test/helpers/e2e/fields/array/openArrayRowActions.ts
  test/helpers/e2e/fields/array/removeArrayRow.ts
  test/helpers/e2e/fields/blocks/addBlock.ts
  test/helpers/e2e/fields/blocks/index.ts
  test/helpers/e2e/fields/blocks/openBlocksDrawer.ts
  test/helpers/e2e/fields/blocks/removeAllBlocks.ts
  test/helpers/e2e/fields/blocks/reorderBlocks.ts
  test/helpers/e2e/fields/relationship/openCreateDocDrawer.ts
  test/helpers/e2e/toggleDocDrawer.ts
  test/localization/e2e.spec.ts
Labels: created-by: Payload team

#13520 fix: imports (part 2/2)
  packages/payload/src/fields/baseFields/baseIDField.ts
  packages/payload/src/fields/validations.ts
  packages/payload/src/queues/errors/handleTaskError.ts
  packages/payload/src/queues/operations/runJobs/runJob/getRunTaskFunction.ts
  packages/payload/src/utilities/isValidID.ts
  packages/ui/src/elements/CodeEditor/CodeEditor.tsx
  packages/ui/src/elements/DatePicker/DatePicker.tsx
  packages/ui/src/elements/Link/index.tsx
  packages/ui/src/fields/Join/index.tsx
  packages/ui/src/forms/Form/fieldReducer.ts
  packages/ui/src/forms/fieldSchemasToFormState/addFieldStatePromise.ts
  packages/ui/src/utilities/copyDataFromLocale.ts
  test/helpers/bootAdminPanel.mjs
  test/live-preview/app/live-preview/_components/Button/index.tsx
  test/live-preview/app/live-preview/_components/Card/index.tsx
  test/live-preview/app/live-preview/_components/Footer/index.tsx
  test/live-preview/app/live-preview/_components/Header/index.tsx
  test/live-preview/app/live-preview/_components/Link/index.tsx
  test/live-preview/app/live-preview/_components/Media/Image/index.tsx
  test/live-preview/app/live-preview/_heros/PostHero/index.tsx
  test/live-preview/prod/app/live-preview/_components/Button/index.tsx
  test/live-preview/prod/app/live-preview/_components/Card/index.tsx
  test/live-preview/prod/app/live-preview/_components/Footer/index.tsx
  test/live-preview/prod/app/live-preview/_components/Header/index.tsx
  test/live-preview/prod/app/live-preview/_components/Link/index.tsx
  test/live-preview/prod/app/live-preview/_components/Media/Image/index.tsx
  test/live-preview/prod/app/live-preview/_heros/PostHero/index.tsx
Labels: created-by: Payload team

#13524 perf(ui): reduce number of field renders on submit
  packages/ui/src/forms/Form/index.tsx
  packages/ui/src/forms/Form/mergeServerFormState.ts
  packages/ui/src/forms/Form/types.ts
  packages/ui/src/utilities/buildFormState.ts
  packages/ui/src/views/Edit/index.tsx
Labels: created-by: Payload team

#11908 fix(plugin-form-builder): export radio field type
  packages/plugin-form-builder/src/exports/types.ts
Labels: created-by: Contributor

#13501 fix: accept computed array and block rows from server form state
  packages/ui/src/forms/Form/mergeServerFormState.ts
  test/form-state/collections/Posts/index.ts
  test/form-state/e2e.spec.ts
  test/form-state/payload-types.ts
  tsconfig.base.json
Labels: created-by: Payload team

#13477 perf(ui): do not fetch doc permissions on autosave
  packages/ui/src/elements/Autosave/index.tsx
  packages/ui/src/forms/Form/types.ts
  packages/ui/src/providers/DocumentInfo/types.ts
  packages/ui/src/providers/DocumentInfo/useGetDocPermissions.tsx
  packages/ui/src/views/Edit/index.tsx
  test/form-state/collections/Autosave/index.tsx
  test/form-state/e2e.spec.ts
Labels: created-by: Payload team

#13430 perf(storage-s3): stream files and abort s3 request from static handler
  packages/storage-s3/src/staticHandler.ts
Labels: created-by: Contributor

#13530 fix(translations): stale version.versionCreatedOn key in translation
  packages/translations/src/clientKeys.ts
  packages/translations/src/languages/ar.ts
  packages/translations/src/languages/az.ts
  packages/translations/src/languages/bg.ts
  packages/translations/src/languages/bnBd.ts
  packages/translations/src/languages/bnIn.ts
  packages/translations/src/languages/ca.ts
  packages/translations/src/languages/cs.ts
  packages/translations/src/languages/da.ts
  packages/translations/src/languages/de.ts
  packages/translations/src/languages/en.ts
  packages/translations/src/languages/es.ts
  packages/translations/src/languages/et.ts
  packages/translations/src/languages/fa.ts
  packages/translations/src/languages/fr.ts
  packages/translations/src/languages/he.ts
  packages/translations/src/languages/hr.ts
  packages/translations/src/languages/hu.ts
  packages/translations/src/languages/hy.ts
  packages/translations/src/languages/id.ts
  packages/translations/src/languages/it.ts
  packages/translations/src/languages/ja.ts
  packages/translations/src/languages/ko.ts
  packages/translations/src/languages/lt.ts
  packages/translations/src/languages/lv.ts
  packages/translations/src/languages/my.ts
  packages/translations/src/languages/nb.ts
  packages/translations/src/languages/nl.ts
  packages/translations/src/languages/pl.ts
  packages/translations/src/languages/pt.ts
  packages/translations/src/languages/ro.ts
  packages/translations/src/languages/rs.ts
  packages/translations/src/languages/rsLatin.ts
  packages/translations/src/languages/ru.ts
  packages/translations/src/languages/sk.ts
  packages/translations/src/languages/sl.ts
  packages/translations/src/languages/sv.ts
  packages/translations/src/languages/th.ts
  packages/translations/src/languages/tr.ts
  packages/translations/src/languages/uk.ts
  packages/translations/src/languages/vi.ts
  packages/translations/src/languages/zh.ts
  packages/translations/src/languages/zhTw.ts
Labels: created-by: Payload team

#13339 fix(next): no client field found error when accessing version view in some configurations
  packages/next/src/views/Version/RenderFieldsToDiff/buildVersionFields.tsx
  packages/payload/src/fields/getFieldPaths.ts
  test/versions/collections/Diff/index.ts
  test/versions/e2e.spec.ts
  test/versions/payload-types.ts
  test/versions/seed.ts
Labels: created-by: Payload team

#13538 chore(plugin-multi-tenant): missing collections warning
  packages/plugin-multi-tenant/src/index.ts
Labels: created-by: Payload team

#13541 templates: bump for v3.53.0
  templates/with-postgres/package.json
  templates/with-postgres/src/migrations/20250821_183927_initial.json
  templates/with-postgres/src/migrations/20250821_183927_initial.ts
  templates/with-postgres/src/migrations/index.ts
  templates/with-vercel-mongodb/package.json
  templates/with-vercel-postgres/package.json
  templates/with-vercel-postgres/src/migrations/20250821_183847_initial.json
  templates/with-vercel-postgres/src/migrations/20250821_183847_initial.ts
  templates/with-vercel-postgres/src/migrations/index.ts
  templates/with-vercel-website/package.json
  templates/with-vercel-website/src/migrations/20250821_183907_initial.json
  templates/with-vercel-website/src/migrations/20250821_183907_initial.ts
  templates/with-vercel-website/src/migrations/index.ts
Labels: area: templates, created-by: Payload team

#13521 fix(next): update rest route handler types for Next.js 15.5 compatibility
  packages/next/src/routes/rest/index.ts
  templates/website/src/app/(frontend)/next/preview/route.ts
  templates/with-vercel-website/src/app/(frontend)/next/preview/route.ts
Labels: created-by: Contributor

#13335 fix: ensure updates to createdAt and updatedAt are respected
  packages/db-mongodb/src/create.ts
  packages/db-mongodb/src/createGlobal.ts
  packages/db-mongodb/src/createGlobalVersion.ts
  packages/db-mongodb/src/createVersion.ts
  packages/db-mongodb/src/predefinedMigrations/migrateRelationshipsV2_V3.ts
  packages/db-mongodb/src/updateGlobal.ts
  packages/db-mongodb/src/updateGlobalVersion.ts
  packages/db-mongodb/src/updateJobs.ts
  packages/db-mongodb/src/updateMany.ts
  packages/db-mongodb/src/updateOne.ts
  packages/db-mongodb/src/updateVersion.ts
  packages/db-mongodb/src/utilities/transform.spec.ts
  packages/db-mongodb/src/utilities/transform.ts
  packages/drizzle/src/transform/write/traverseFields.ts
  packages/drizzle/src/upsertRow/index.ts
  packages/payload/src/auth/operations/logout.ts
  packages/payload/src/auth/operations/refresh.ts
  packages/payload/src/auth/operations/resetPassword.ts
  packages/payload/src/auth/operations/verifyEmail.ts
  packages/payload/src/auth/sessions.ts
  packages/payload/src/auth/strategies/local/incrementLoginAttempts.ts
  packages/payload/src/collections/operations/restoreVersion.ts
  packages/payload/src/collections/operations/utilities/update.ts
  packages/payload/src/globals/operations/restoreVersion.ts
  packages/payload/src/globals/operations/update.ts
  packages/payload/src/queues/operations/handleSchedules/defaultAfterSchedule.ts
  packages/payload/src/queues/utilities/updateJob.ts
  test/database/getConfig.ts
  test/database/int.spec.ts
  test/database/payload-types.ts
Labels: created-by: Payload team

#13551 fix: deeply merge array and block rows from server form state
  packages/payload/src/admin/forms/Form.ts
  packages/ui/src/forms/Form/mergeServerFormState.ts
  packages/ui/src/forms/fieldSchemasToFormState/addFieldStatePromise.ts
  test/form-state/collections/Posts/ArrayRowLabel.tsx
  test/form-state/int.spec.ts
Labels: created-by: Payload team

#13554 fix(ui): auth-fields container renders despite no visible auth/API key/verify content
  packages/ui/src/views/Edit/Auth/index.tsx
  test/auth/config.ts
  test/auth/e2e.spec.ts
  test/auth/payload-types.ts
Labels: created-by: Payload team

#13575 feat(plugin-multi-tenant): re-enable global selector on all views
  packages/plugin-multi-tenant/src/components/TenantSelector/index.tsx
Labels: created-by: Payload team

#13597 fix(graphql): invalid enum names when values include brackets
  packages/graphql/src/utilities/formatName.ts
  test/graphql-schema-gen/config.ts
  test/graphql-schema-gen/schema.graphql
Labels: created-by: Payload team

#13600 fix(ui): bulk edit overwriting fields within named tabs
  packages/ui/src/forms/fieldSchemasToFormState/addFieldStatePromise.ts
  test/bulk-edit/collections/Tabs/index.ts
  test/bulk-edit/config.ts
  test/bulk-edit/e2e.spec.ts
  test/bulk-edit/payload-types.ts
  test/bulk-edit/shared.ts
  test/helpers/e2e/addListFilter.ts
  test/helpers/e2e/selectInput.ts
Labels: created-by: Payload team

#13603 feat: allow multiple, different payload instances using getPayload in same process
  packages/db-mongodb/src/connect.ts
  packages/db-mongodb/src/destroy.ts
  packages/db-mongodb/src/init.ts
  packages/db-mongodb/src/models/buildGlobalModel.ts
  packages/payload/src/index.ts
  test/config/int.spec.ts
  test/queues/cli.int.spec.ts
  test/queues/int.spec.ts
Labels: created-by: Payload team

#13611 ci: remove run-e2e-turbo flow
  .github/workflows/main.yml
Labels: created-by: Payload team

#13599 fix: restore as draft function was passing a published status
  packages/payload/src/collections/operations/restoreVersion.ts
  test/versions/e2e.spec.ts
Labels: created-by: Payload team

#13453 feat(db-*): support atomic array $push db updates
  packages/db-mongodb/src/updateOne.ts
  packages/db-mongodb/src/utilities/transform.ts
  packages/drizzle/src/transform/write/array.ts
  packages/drizzle/src/transform/write/blocks.ts
  packages/drizzle/src/transform/write/index.ts
  packages/drizzle/src/transform/write/traverseFields.ts
  packages/drizzle/src/transform/write/types.ts
  packages/drizzle/src/upsertRow/index.ts
  packages/drizzle/src/upsertRow/insertArrays.ts
  packages/drizzle/src/upsertRow/shouldUseOptimizedUpsertRow.ts
  test/database/getConfig.ts
  test/database/int.spec.ts
  test/database/payload-types.ts
  test/database/postgres-logs.int.spec.ts
Labels: created-by: Payload team

#13617 refactor: deprecate job queue runHooks property
  packages/payload/src/queues/config/types/index.ts
Labels: created-by: Payload team

#13629 fix(plugin-nested-docs): crumbs not syncing on non-versioned collections
  packages/plugin-nested-docs/src/hooks/populateBreadcrumbsBeforeChange.ts
  packages/plugin-nested-docs/src/hooks/resaveChildren.ts
  packages/plugin-nested-docs/src/hooks/resaveSelfAfterCreate.ts
  packages/plugin-nested-docs/src/index.ts
  packages/plugin-nested-docs/src/utilities/formatBreadcrumb.ts
  packages/plugin-nested-docs/src/utilities/getParents.ts
  packages/plugin-nested-docs/src/utilities/populateBreadcrumbs.ts
  test/plugin-nested-docs/int.spec.ts
Labels: created-by: Payload team

#13630 fix(ui): json field type ignoring editorOptions
  packages/ui/src/elements/CodeEditor/CodeEditor.tsx
  packages/ui/src/fields/Code/index.tsx
  packages/ui/src/fields/JSON/index.tsx
  test/_community/payload-types.ts
Labels: created-by: Payload team

#13608 perf(plugin-search): reindex collections in parallel, up to 80% faster
  packages/plugin-search/src/utilities/generateReindexHandler.ts
  test/plugin-search/int.spec.ts
  test/plugin-search/payload-types.ts
Labels: plugin: search, created-by: Payload team

#13647 feat(richtext-lexical): add options to hide block handles
  docs/rich-text/overview.mdx
  packages/richtext-lexical/src/field/rscEntry.tsx
  packages/richtext-lexical/src/lexical/LexicalEditor.tsx
  packages/richtext-lexical/src/types.ts
Labels: created-by: Contributor
